@import "../../Static/index";

#about-section {
  height: 100vh;
  .fp-scroller {
    height: 100%;
  }

  .container-fluid {
    padding-top: 91px;
    height: 100%;

    .row {
      height: 100%;
    }

    // .col-12 {
    //   &:last-child {
    //     height: calc(100% - 65px);
    //   }
    // }
  }

  .section-dots-wrap {
    top: -10px;
    left: 15px;
    width: 160px;
    height: 160px;
    z-index: 1;
  }

  .section-title {
    position: relative;
    font-size: 26px;
    text-align: left;
    margin-bottom: 16px;
    z-index: 2;
  }

  .about-desc {
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .about-link {
    position: absolute;
    bottom: -15px;
    left: 60px;
    background-color: $accent-black;
    color: #fff;
    font-family: $museo-500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s $timing-func 0.4s;
    z-index: 1;

    &:hover {
      bottom: 10px;
      transition-delay: 0s;

      &:before {
        width: 100%;
        background-color: $accent-main;
        transition-delay: 0.4s;
      }
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: all 0.4s $timing-func 0s;
    }
  }
  .section-title.title::first-letter {
    color: $accent-main;
  }

  .col-info {
    padding: 0 30px;
  }
}

@include media-breakpoint-up("md") {
  #about-section {
    .container-fluid {
      // .col-12 {
      //   &:last-child {
      //     height: calc(100% - 132px);
      //   }
      // }
    }

    .section-dots-wrap {
      width: 420px;
      height: 420px;
      top: auto;
      right: auto;
      bottom: -15px;
      left: 110px;
      transform: none;
    }

    .section-title {
      font-size: 60px;
      letter-spacing: 1.69px;
      text-align: left;
      margin-left: 100px;
      margin-bottom: 60px;
    }

    .about-desc {
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 34px;
    }

    .about-link {
      font-size: 20px;
      padding: 0 10px;
      left: 65px;
      bottom: -15px;
    }
  }
}

@include media-breakpoint-up("lg") {
  #about-section {
    .section-dots-wrap {
      width: 485px;
      height: 485px;
    }

    .section-title {
      margin-left: 100px;
    }
  }
}

@include media-breakpoint-up("xl") {
  #about-section {
    .container-fluid {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      // .col-12 {
      //   &:last-child {
      //     height: calc(100% - 175px);
      //   }
      // }
      .row {
        height: unset;
      }
    }

    .section-dots-wrap {
      top: -73.5px;
      left: 120px;
    }

    .col-info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .section-title {
      font-size: 48px;
      letter-spacing: 2px;
      margin-left: 180px;
      margin-bottom: 30px;

      &.on-enter {
        animation: section-title-on-enter 1s $timing-func 0s both;
      }

      &.on-leave {
        animation: section-title-on-leave 1s $timing-func 0s both;
      }
    }

    .about-desc {
      font-size: 18px;
      line-height: 36px;
      letter-spacing: 2px;
      margin-left: 180px;
      margin-bottom: 40px;
    }

    .about-link {
      font-size: 20px;
      bottom: -3px;

      &:before {
        height: 3px;
      }

      &:hover {
        bottom: 10px;
      }
    }
    .alternative-button {
      margin-left: 180px;
    }
  }
}

// @media screen and(max-height: 650px) {
//   #about-section {
//     .text-box {
//       height: 200px;
//     }

//     .section-desc {
//       padding: 0px;
//       font-size: 12px;
//       line-height: 24px;
//     }

//     .about-statue {
//       bottom: -25px;
//       width: 350px;
//       left: 65px;
//     }
//   }

//   .scroll-box {
//     display: none;
//   }
// }
