@import "../../Static/index";

.statue-wrap {
  position: absolute;
  top: 353px;
  right: 15px;
  width: 100%;
  max-width: 191px;
  margin: 0 auto;
  z-index: 1;

  &.on-first-load {
    animation: statue-on-first-load-mobile 1.2s $timing-func 0.5s both;

    @include media-breakpoint-up("lg") {
      animation-name: statue-on-first-load;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .statue {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .blob-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 1.5s cubic-bezier(0.64, 0.04, 0.35, 1);
  }
}

#main-section {
  height: 100vh;
  position: relative;

  .fp-scroller {
    height: 100%;
  }

  .container-fluid {
    height: 100%;
  }

  .section-dots-wrap {
    top: -10px;
    left: 15px;
    width: 160px;
    height: 160px;
    z-index: -1;

    &.on-first-load {
      animation: common-fade-up 0.4s $timing-func 1.3s both;
    }
  }

  .title-container {
    &.on-first-load * {
      animation-delay: 0.1s;
      animation-duration: 0.9s;
    }
  }

  .col-info {
    position: relative;
    top: 91px;
    padding: 0 30px;
    left: 0;
    z-index: 6;
  }

  .sub-title {
    &.on-first-load {
      animation: text-on-fade-up 0.8s $timing-func both;
    }
  }

  .title,
  .sub-title {
    text-align: left;
  }

  .title {
    font-size: 36px;
    margin-bottom: 0;
  }

  .title-container {
    margin-bottom: 16px;
  }

  .sub-title {
    font-size: 16px;
    text-transform: none;
    margin-bottom: 8px;
    font-family: $museo-100;

    span {
      color: $accent-main;
    }
  }

  .section-title.title::first-letter {
    color: $accent-main;
  }

  .description {
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 24px;

    &.on-first-load {
      animation: text-on-fade-up 0.8s $timing-func 0.35s both;
    }
  }

  .alternative-button {
    &.on-first-load {
      animation: text-on-fade-up 0.8s $timing-func 0.6s both;
    }
  }
}

@include media-breakpoint-up("md") {
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .statue-wrap {
    margin-right: 50px;
    max-width: 440px;
  }

  #main-section {
    //  .statue-wrap {
    //   margin-right: 50px;
    //   max-width: 440px;
    // }

    .section-dots-wrap {
      width: 545px;
      height: 545px;
      top: auto;
      bottom: -130px;
      left: 120px;
    }

    .title-container,
    .sub-title,
    .description {
      margin-left: 180px;
      text-align: unset;
    }

    .title {
      font-size: 60px;
    }

    .sub-title {
      font-size: 30px;
    }
  }
}

@include media-breakpoint-up("lg") {
  #main-section {
    .col-info {
      position: relative;
      top: 0;
      transform: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .section-dots-wrap {
      top: 50%;
      transform: translate(-50px, -50%);
      bottom: auto;
      width: 500px;
      height: 500px;
      top: 70px;
      left: 170px;

      &.on-first-load {
        animation: common-fade-up 3s $timing-func 0s both;
      }
    }
  }

  .statue-wrap {
    max-width: 395px;
    margin-right: auto;
  }
}

@include media-breakpoint-up("xl") {
  .statue-wrap {
    isolation: isolate;
    max-width: 500px;
    height: 76.19vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: $statue-pos-right;

    &.on-enter {
      animation: statue-on-enter 1.2s $timing-func 0s both;
    }

    &.on-leave {
      animation: statue-on-leave 1.2s $timing-func 0s both;
    }

    .statue {
      object-fit: contain;
    }
  }

  #main-section {
    // .statue-wrap {
    //   isolation: isolate;
    //   max-width: 500px;
    //   height: 85vh;
    //   position: fixed;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   right: -185px;

    //   &.on-enter {
    //     animation: statue-on-enter 1s $timing-func 0s both;
    //   }

    //   &.on-leave {
    //     animation: statue-on-leave 1s $timing-func 0s both;
    //   }

    //   .statue {
    //     object-fit: contain;
    //   }
    // }

    .col-info {
      &.on-first-load {
        animation: common-fade-up 1s $timing-func 0s both;
      }
    }

    .title {
      font-size: 82px;
      letter-spacing: 2px;
      margin-bottom: 0;
    }

    .title-container {
      margin-bottom: 32px;
    }

    .description {
      font-size: 18px;
      line-height: 36px;
      letter-spacing: 2px;
      margin-bottom: 40px;

      span {
        text-decoration: underline;
        color: $accent-main;
      }
    }

    .sub-title {
      font-size: 32px;
      margin-bottom: 12px;
    }

    .alternative-button {
      margin-left: 180px;
    }
  }
}
