@import "../../Static/index";

#home-portfolio-section {
  .portfolio-section-title {
    font-size: 36px;

    &::first-letter {
      color: $accent-main;
    }
  }
}

@include media-breakpoint-up("lg") {
  #home-portfolio-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .home-portfolio-row {
      .col-12:nth-child(2) {
        order: 1;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      max-width: 1366px;
      .row {
        padding: 0;
      }
    }

    .portfolio-section-title {
      font-size: 48px;
      letter-spacing: 2px;
    }

    .alternative-button {
      margin-left: auto;
    }
  }
}
