@import "../../Static/index";

#portfolio-section {
  .section-wrapper {
    padding: 15px 0 0;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  [class*='col'] {
    padding-left: 0;
    padding-right: 0;
  }

  .tab-content {
    position: relative;
  }

  .tab-pane {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 1s cubic-bezier(0.64, 0.04, 0.35, 1);

    &.active {
      position: relative;
      opacity: 1;

      .card-wrap {
        &:before {
          transform: translateX(100%);
        }
      }
    }
  }

  .project-image {
    position: relative;
    width: 100%;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      mix-blend-mode: multiply;
      transition: all 0.7s $timing-func;
      background-color: rgba(29, 36, 43, 0.3);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      mix-blend-mode: multiply;
      background-color: #CB0040;
      transition: all 0.7s $timing-func;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .project-title {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: $white;
    font-family: $museo-500;
    font-size: 18px;
    letter-spacing: 1.35px;
    z-index: 3;
  }

  .project-nav-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .link-wrap {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
  }

  .see-all-link {
    width: 160px;
    text-align: right;
    position: relative;
    padding-bottom: 10px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.35px;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $accent-main;
    }
  }
}

@include media-breakpoint-up('md') {
  #portfolio-section {
    .section-wrapper {
      padding-top: 115px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .card-wrap {
      padding-right: 5px;
      padding-bottom: 5px;
      height: 235px;
    }

    .project-title {
      bottom: auto;
      left: 45px;
      top: 45px;
    }

    .link-wrap {
      margin-top: 40px;
      padding: 0;
    }

    .link {
      width: 240px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #portfolio-section {
    .section-wrapper {
      max-width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      height: 100%;
    }

    .tab-content {
      width: 100%;
      max-width: 800px;
      min-height: 700px;
      max-height: 700px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 80px;
    }

    .card-wrap {
      height: 265px;
    }

    .link-wrap {
      position: absolute;
      bottom: 45px;
      right: 40px;
      margin-bottom: 0;
      margin-top: 0;

      .see-all-link {
        width: 240px;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  #portfolio-section {
    .section-wrapper {
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .tab-content {
      max-width: 80%;
      overflow: visible;
      margin-top: 100px;
    }

    .tab-content-wrap {
      transition: all 1s $timing-func;

      &.on-enter {
        opacity: 1;
        transform: translateY(0);
      }

      &.on-leave {
        opacity: 0;
        transform: translateY(60px);
      }
    }

    .card-wrap {
      position: relative;
      width: 100%;
      height: 350px;
      padding-bottom: 10px;
      padding-right: 10px;

      &:hover {
        .project-link {
          transform: translate(0, 0);
          opacity: 1;

          &:before {
            width: 100%;
          }
        }

        .project-image {
          &:before {
            opacity: 0;
            visibility: hidden;
          }

          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .project-title {
      top: 50px;
      left: 50px;
      font-family: $museo-700;
      font-size: 20px;
      letter-spacing: 1.5px;
      line-height: 30px;
      white-space: nowrap;
    }

    .project-link {
      display: block;
      position: absolute;
      bottom: 40px;
      right: 40px;
      transform: translate(0, 15px);
      opacity: 0;
      color: #fff;
      font-family: $museo-100;
      font-size: 12px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      padding-top: 7px;
      text-decoration: none;
      z-index: 3;
      transition: all 0.7s $timing-func;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 1px;
        background-color: rgba(255, 255, 255, 0.4);
        transition: all 0.7s $timing-func;
      }
    }

    .link-wrap {
      position: relative;
      right: 0;
      bottom: 0;
      margin: 30px auto 0;
      width: 100%;
      max-width: 80%;

      &.on-enter {
        .see-all-link {
          animation: see-all-link-on-enter 1s $timing-func 0s both;

          &:before {
            animation: see-all-line-on-enter 1s $timing-func 0s both;
          }
        }
      }

      &.on-leave {
        .see-all-link {
          animation: see-all-link-on-leave 1s $timing-func 0s both;

          &:before {
            animation: see-all-line-on-leave 1s $timing-func 0s both;
          }
        }
      }
    }
  }
}
