@import "../../Static/index";

.service-title,
.services-title {
  &::first-letter {
    color: $accent-main;
  }
}

.services-title {
  margin-bottom: 24px;
  font-size: 36px;
}

.row-service {
  padding: 0 15px;
}

.col-service {
  background-color: $light-background;
  border-radius: 16px;
  margin-bottom: 15px;
  padding: 20px 20px 191px 20px;
  overflow: hidden;

  .active-link {
    pointer-events: none;
  }

  .alternative-button {
    pointer-events: all;
  }

  .col-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    padding: 0;
  }

  img {
    width: auto;
  }

  &:first-child {
    .col-image {
      bottom: -1px;
    }
  }

  &:nth-child(3) {
    .service-image {
      height: 230px;
    }
    .col-image {
      bottom: -19px;
    }
  }

  &:first-child {
    .service-image {
      height: 223px;
    }
  }

  &:nth-child(2) {
    .service-image {
      height: 233px;
    }
    .col-image {
      bottom: -12px;
      right: -10px;
    }
  }

  &:last-child {
    margin-bottom: 0;
    .service-image {
      height: 260px;
    }
    .col-image {
      bottom: -35px;
    }
  }
}

.service-title {
  font-size: 24px;
  margin-bottom: 12px;
}

.service-desc {
  margin-bottom: 20px;
}

.service-card {
  .col-12:first-child {
    order: 1;
  }
}

@include media-breakpoint-up("lg") {
  #services-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-wrapper {
    max-width: 1366px;
  }

  .section-wrapper,
  .row-service {
    padding: 0;
  }

  .services-title {
    margin-bottom: 48px;
    font-size: 36px;
    letter-spacing: 2px;
  }

  .service-title {
    margin-bottom: 14px;
  }

  .service-desc {
    margin-bottom: 0;
  }

  .service-card {
    height: 100%;
  }

  .col-service {
    padding: 0;
    margin-bottom: 0;
    background-color: unset;
    border-radius: unset;

    &:nth-child(odd) {
      padding-right: 15px;
    }

    &:nth-child(even) {
      padding-left: 15px;
    }

    &:first-child,
    &:nth-child(2) {
      padding-bottom: 15px;
    }

    &:nth-child(3),
    &:last-child {
      padding-top: 15px;
    }

    .col-image {
      position: relative;
    }

    .active-link {
      background-color: $light-background;
      border-radius: 16px;
      display: block;
      height: 280px;
      overflow: hidden;
      pointer-events: all;
      cursor: pointer;

      .col-lg-6 {
        display: flex;
        align-items: center;
      }
    }

    &:first-child .service-image {
      height: 235px;
      left: 25px;
    }
    &:nth-child(2) .service-image,
    &:last-child .service-image {
      height: 260px;
    }
    &:nth-child(3) .service-image {
      height: 270px;
    }
    &:nth-child(3) .service-image,
    &:nth-child(2) .service-image {
      left: 10px;
    }
    &:last-child .service-image {
      left: 10px;
      transform: rotateY(180deg);
    }

    .service-image {
      position: absolute;
      bottom: 0;
    }
  }

  .service-card {
    .col-12:first-child {
      order: 0;
    }
  }

  .service-info {
    max-width: 275px;
  }
}
