@import "../../Static/index";

#about-projects-section {
  .section-wrapper {
    padding-bottom: 50px;
  }

  .section-desc {
    margin-bottom: 0;
  }

  .square-info-wrap {
    p {
      max-width: none;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.3px;
    }
  }

  .section-title {
    margin-bottom: 20px;
  }

  .section-line {
    &.bottom {
      height: 30px;
      right: auto;
      left: 0;
      width: 95%;
    }
  }
}

@include media-breakpoint-up('lg') {
  #about-projects-section {
    .section-desc {
      margin-bottom: 0;
    }

    .grid-item {
      &:nth-child(even) {
        padding-right: 15px;
      }

      &:nth-child(odd) {
        padding-left: 15px;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  #about-projects-section {
    .section-wrapper {
      padding-bottom: 120px;
    }

    .blur-ball {
      position: absolute;
      top: 0;
      left: 0;
      width: 510px;
      transform: translateX(-70px);
    }

    .section-dots-wrap {
      width: 525px;
      height: 525px;
      position: absolute;
      right: 0;
      transform: translateY(-90%);
    }

    .square-info-wrap {
      margin-bottom: 0;
    }

    .section-title {
      margin-bottom: 55px;
      margin-left: 0;
    }

    .section-line {
      &.bottom {
        height: 60px;
      }
    }
  }
}