@import "../../Static/index";

[id*='-project-page'] {
  .font-title {
    font-size: 20px;
    letter-spacing: 0.56px;
    line-height: 29px;
    color: #12171e;
    margin-bottom: 15px;
  }

  .font-example {
    color: #afafaf;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.45px;
    line-height: 28px;
    margin-bottom: 50px;
    word-break: break-all;

    &.font-second {
      margin-bottom: 0;
    }
  }

  .font-name-row {
    margin-bottom: 15px;
  }

  .font-example-title {
    opacity: 0.4;
    color: #12171e;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 0.24px;
    font-family: $museo-500;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
      letter-spacing: 0.3px;
    }
  }

  .font-name {
    font-size: 22px;
    letter-spacing: 0.3px;
    font-family: $museo-700;

    @include media-breakpoint-up(lg) {
      font-size: 26px;
    }
  }

  .font-weight {
    font-size: 16px;
    letter-spacing: 0.3px;
    font-family: $museo-500;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }
}

@include media-breakpoint-up('md') {
  [id*='-project-page'] {
    .font-example {
      margin-bottom: 0;
    }
  }
}
