#about-skills-section {
  padding-top: 85px;
  background-color: #fff;
  
  .section-wrapper {
    padding: 0;
  }

  .section-title {
    color: $accent-black;
    font-size: 30px;
    letter-spacing: 0.85px;
    text-align: center;
  }

  .tab-link {
    color: $accent-black;

    &:hover {
      color: $accent-black !important;
    }
  }

  .row {
    margin: 0;
  }

  .tab-content-wrap {
    position: relative;
  }

  .tab-pane {
    &.active {
      z-index: 1;
    }
  }

  .skill-row {
    border: none;
    border-radius: 0;
  }

  .skill-header {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  .skill-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .skill-body {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .skill-name {
    color: $accent-black;
    font-family: $museo-700;
    font-size: 14px;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    transition: all 0.5s $timing-func;
  }
  
  .skill-icon {
    width: 40px;
    filter: grayscale(1);
    transition: all 0.5s $timing-func;
  }
  
  .skill-description {
    opacity: 0.5;
    color: #000;
    font-family: $museo-500;
    font-size: 14px;
    letter-spacing: 0.39px;
    line-height: 29px;
  }
}

@include media-breakpoint-up('md') {
  #about-skills-section {
    padding-top: 0;
    
    .MuiContainer-root {
      max-width: 630px;
      margin: 0 auto;
    }
    
    .section-title {
      margin-top: 110px;
      padding-left: 115px;
      font-size: 40px;
      letter-spacing: 1.13px;
      text-align: left;
      margin-bottom: 60px;
    }
    
    .MuiTab-wrapper {
      font-size: 16px;
      letter-spacing: 1.2px;
    }
    
    .skill-row {
      width: 100%;
      display: flex;
      margin-bottom: 60px;
    }
    
    .MuiGrid-grid-sm-2, .MuiGrid-grid-sm-7 {
      display: flex;
      align-items: center;
    }
    
    .skill-icon-wrap {
      margin: 0 auto;
    }
    
    .skill-description {
      opacity: 1;
      letter-spacing: 0.19px;
      line-height: 22px;
      font-family: $museo-300;
    }
  }
}

@include media-breakpoint-up('lg') {
  #about-skills-section {
    .MuiContainer-root {
      max-width: 860px;
      margin-right: auto;
    }
    
    .scroll-box {
      border-color: $accent-black;
      
      span {
        background-color: $accent-black;
      }
    }
    
    .skill-row {
      margin-bottom: 25px;
    }
    
    .skill-name {
      font-size: 18px;
      letter-spacing: 0.51px;
    }
  
    .MuiTab-root {
      margin-left: 50px;
      width: 28px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #about-skills-section {
    .section-title {
      left: 120px;
      font-size: 50px;
      letter-spacing: 1.41px;
    }
  
    .fp-scroller {
      height: 100%;
    }
    
    .MuiContainer-root {
      max-width: 1290px;
      margin: 0 auto;
      max-height: 100%;
      overflow: visible;
    }
    
    .tab-panel-wrap {
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
    }
    
    .MuiTab-wrapper {
      font-size: 18px;
      letter-spacing: 1.35px;
    }
    
    .skill-row {
      margin-bottom: 50px;
    }
    
    .skill-name {
      font-size: 26px;
      letter-spacing: 0.73px;
    }
    
    .skill-icon-wrap {
      width: 50px;
    }
    
    .skill-description {
      font-size: 16px;
      letter-spacing: 0.45px;
      line-height: 29px;
    }
  }
}