#bessarabskiy-project-page {
  .nav-link span {
    color: #fff;
  }

  .bottom-text {
    color: #fff;
  }
}

#bessarabskiy-brief {
  background-color: #38261a;

  .section-title, .section-desc {
    color: #fff;
  }

  .section-wrapper {
    padding-bottom: 0;
  }

  .section-desc {
    margin-bottom: 50px;
  }

  .brief-images-wrap {
    margin-bottom: 50px;
  }

  .brief-row-wrap {
    position: relative;
    display: flex;
    align-items: flex-start;

    &.barrel-wrap {
      span {
        margin-top: 35px;
        margin-left: 25px;
      }
    }

    &.grape-wrap {
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -190px;

      span {
        margin-bottom: 20px;
        transform: translateX(45px);
      }
    }

    span {
      color: #f3ece0;
      font-family: $museo-300;
      font-size: 24px;
      letter-spacing: 0.68px;
      line-height: 29px;
    }
  }

  .barrel-image {
    width: 170px;
  }

  .grape-image {
    width: 210px;
  }

  .logo-brief-wrap {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;

    &:last-child {
      margin-bottom: -40px;
    }
  }

  .logo-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }

  .logo-wrap {
    border: 2px solid #f3ece0;
    background-color: #ffffff;
    padding: 0;
    width: 100%;
    max-width: 280px;
    height: 285px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-image-wrapper {
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
    }
  }
}

#bessarabskiy-logo {
  overflow: hidden;

  .section-wrapper {
    padding-top: 130px;
    padding-bottom: 40px;
  }

  .section-dots-wrap {
    position: absolute;
    width: 340px;
    height: 340px;
    top: -70%;
    left: -100px;
  }

  .section-image-wrap {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

#bessarabskiy-colors-and-fonts {
  .section-wrapper {
    padding-bottom: 50px;
  }

  .content-wrap {
    .section-desc {
      margin-bottom: 0;
    }
  }

  .font-example {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 50px;
    opacity: 0.2;
    color: #12171e;
    font-family: $copperplate-bold;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.33px;
    line-height: 40px;
    text-transform: uppercase;
  }

  .font-info {
    margin-bottom: 0;
  }
}

#bessarabskiy-branding {
  .section-wrapper {
    padding-bottom: 10px;
  }

  .section-slider-wrap {
    margin-bottom: 40px;
  }

  .slide-wrap {
    height: 330px;
  }

  .slide-image-wrap {
    img {
      object-fit: cover;
    }
  }

  .slick-dots {
    margin-top: 30px;
  }
}

#bessarabskiy-other {
  .section-wrapper {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .project-info-wrap {
    padding: 25px 0;

    p {
      width: 100%;
      max-width: 215px;
      margin: 0 auto;
    }
  }
}

#bessarabskiy-about-site {
  .about-site-wrapper {
    padding-bottom: 200px;
    overflow: hidden;
  }

  .adaptation-wrapper {
    position: relative;
    background-color: #38261a;
    padding-bottom: 115px;
    z-index: 5;
  }

  .adaptation-section-wrapper {
    padding: 40px 20px;
    width: 100%;
    max-width: 90%;
    border: 1px solid #f3ece0;

    .section-title, .section-desc {
      color: #fff;
    }

    .section-title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -20px);
      background-color: #38261a;
      padding: 0 10px;
      margin-bottom: 0;
    }

    .section-desc {
      margin-bottom: 60px;
    }
  }

  .section-dots-wrap {
    position: absolute;
    bottom: -20px;
    right: -100px;
    width: 340px;
    height: 340px;
    z-index: -1;
  }

  .tomato-image {
    position: absolute;
    bottom: 125px;
    right: 45px;
    width: 85px;
    z-index: 1;
  }

  .iMac-image {
    width: 100%;
    margin-bottom: 0;
    transform: translateY(-70%);
  }

  .grape-image {
    position: absolute;
    z-index: -1;
    top: 75px;
    left: 15px;
    width: 200px;
  }

  .grid-item-icon {
    &:nth-child(1), &:nth-child(2) {
      .icon-wrap {
        margin-bottom: 100px;
      }
    }
  }

  .icon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: #f3ece0;
      font-family: $museo-100;
      font-size: 16px;
      letter-spacing: 0.45px;
      text-transform: uppercase;
    }
  }

  .device-icon-image {
    width: 30px;
    height: 30px;
    margin: 0 auto 25px;
  }
}

#bessarabskiy-home-page {
  z-index: 6;

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 25px;
  }

  .screen-page-1 {
    position: relative;
    right: -185px;
    width: 370px;
    transform: translateY(-100px);
  }

  .screen-page-2 {
    position: relative;
    margin-top: -330px;
    z-index: 2;
    width: 360px;
  }

  .broccoli-image {
    position: absolute;
    top: 140px;
    left: 30px;
    width: 90px;
  }

  .section-dots-wrap {
    position: absolute;
    width: 340px;
    height: 340px;
    z-index: -1;

    &.top-dots {
      top: 80px;
      left: 16px;
    }
  }

  .screen-image {
    margin-bottom: 20px;
  }

  .screen-name {
    position: relative;
    color: #35271c;
    font-family:$museo-300;
    font-size: 24px;
    letter-spacing: 0.68px;
    line-height: 29px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 75px;
      background-color: #b78150;
    }
  }

  .screen-desc {
    color: #35271c;
    font-family: $museo-100;
    font-size: 14px;
    line-height: 29px;
  }

  .pepper-image {
    position: absolute;
    width: 130px;
    bottom: -65px;
    left: 16px;
  }
}

#bessarabskiy-news {
  background-color: #382a1d;

  .macBook-image {
    padding-top: 100px;
    position: relative;
    z-index: 1;
  }

  .grape-image {
    position: absolute;
    top: 25px;
    right: 0;
    transform: translateX(50%);
    width: 310px;
    z-index: 0;
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-title, .section-desc {
    color: #fff;
  }

  .news-page-image {
    width: 100%;
    margin-bottom: -55px;
  }

  .pepper-image {
    position: absolute;
    bottom: -110px;
    right: 0;
    width: 140px;
  }
}

#bessarabskiy-icons {
  .section-wrapper {
    padding-top: 95px;
    padding-bottom: 0;
  }

  .grid-item-icons {
    margin-bottom: 75px;
  }

  .section-image-wrap {
    width: 55px;
    height: 55px;
    margin: 0 auto;
  }
}

#bessarabskiy-fonts {
  .section-wrapper {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .font-example {
    opacity: 0.2;
    color: #12171e;
    line-height: 30px;
    margin-bottom: 30px;

    &.semi-bold {
      font-family: $montserrat;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.45px;
    }

    &.regular {
      font-family: $montserrat;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.51px;
    }
  }

  .content-wrap {
    margin-bottom: 0;

    .section-desc {
      margin-bottom: 0;
    }

    p {
      opacity: 1;
      font-size: 20px;
      letter-spacing: 0.56px;
      line-height: 29px;
    }
  }
}

#bessarabskiy-mobile {
  .section-dots-wrap {
    position: absolute;
    top: 120px;
    right: -100px;
    width: 340px;
    height: 340px;
    z-index: -1;
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .site-pages-image {
    width: 100%;
  }

  .bottom-wrapper {
    position: relative;
    background-color: #38261a;
    padding: 20px 0;
  }

  .iphone-image {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 1;
  }

  .shape-image {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 160px;
    transform: translateY(-50%);
    z-index: 0;
  }
}

@include media-breakpoint-up('md') {
  #bessarabskiy-brief {
    .brief-images-wrap {
      max-width: 350px;
      margin: 0 auto 50px;
    }

    .logo-wrapper {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  #bessarabskiy-colors-and-fonts {
    .content-wrap {
      margin: 0 auto 40px;
    }
  }

  #bessarabskiy-about-site {
    .about-site-wrapper {
      padding-bottom: 300px;
    }

    .adaptation-section-wrapper {
      margin-top: -30%;
    }
  }

  #bessarabskiy-home-page {
    .screen-page-1 {
      margin: 0 0 0 auto;
      right: 0;
    }

    .screen-page-2 {
      margin: -330px auto 0;
    }

    .pepper-image {
      width: 200px;
      bottom: -90px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #bessarabskiy-brief {
    .logo-wrapper {
      max-width: 100%;
      margin: 0 auto 0 0;
      padding: 0;
    }

    .logo-brief-wrap {
      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        padding-left: 15px;
      }
    }

    .logo-var-container {
      margin-bottom: -50px;
    }

    .brief-grid-item {
      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        padding-left: 15px;
      }
    }

    .logo-brief-wrap {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #bessarabskiy-colors-and-fonts {
    .section-wrapper {
      padding-bottom: 80px;
    }

    .color-grid-container {
      display: flex;
      flex-direction: row-reverse;
    }

    .font-grid-container {
      margin-top: 100px;
    }

    .font-example {
      max-width: 260px;
      margin-bottom: 0;
    }

    .font-info {
      margin: 0 auto 0 0;
      padding: 55px 0;
    }
  }

  #bessarabskiy-branding {
    .section-wrapper {
      padding-bottom: 40px;
    }

    .grid-item {
      &:first-child {
        padding-right: 30px;
      }

      &:last-child {
        padding-left: 30px;
      }

      .MuiGrid-item {
        display: flex;
        justify-content: flex-end;
      }
    }

    .section-dots-wrap {
      width: 420px;
      height: 420px;
      position: absolute;
      top: 0;
      right: 25px;
      z-index: -1;
    }

    .section-desc {
      margin-bottom: 0;
    }

    .section-slider-wrap {
      position: relative;
      z-index: 6;
      margin-bottom: 0;
    }

    .slide-wrap {
      height: 550px;
    }
  }

  #bessarabskiy-other {
    .section-wrapper {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .project-info-wrap {
      margin: 0 auto 0 0;
    }

    .section-desc {
      margin-bottom: 0;
    }
  }

  #bessarabskiy-about-site {
    .about-site-wrapper {
      padding-top: 110px;
      padding-bottom: 325px;
    }

    .section-dots-wrap {
      position: absolute;
      bottom: auto;
      top: 110px;
      right: 150px;
    }

    .section-desc {
      &.with-dot {
        max-width: 50%;
        margin-bottom: 0;
      }
    }

    .tomato-image {
      bottom: auto;
      top: 220px;
      right: 130px;
      width: 160px;
    }

    .iMac-image {
      transform: translateY(-50%);
    }

    .adaptation-section-wrapper {
      margin-top: -15%;
      padding: 70px 70px 90px;
      background-color: #38261a;

      .section-title {
        transform: translate(-50%, -25px);
      }

      .section-desc {
        text-align: center;
      }
    }

    .grape-image {
      width: 450px;
      top: 250px;
    }

    .icon-wrap {
      margin-bottom: 0 !important;
    }
  }

  #bessarabskiy-home-page {
    .section-wrapper {
      &:last-child {
        overflow: hidden;
        padding-bottom: 300px;
      }
    }

    .pages-wrapper {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .screen-page-1 {
      right: -85px;
      width: 470px;
      transform: translateY(0px);
      margin-top: -130px;
    }

    .screen-page-2 {
      margin-top: 0;
      margin-left: 50%;
      width: 460px;
    }

    .section-dots-wrap {
      width: 420px;
      height: 420px;

      &.top-dots {
        top: 0;
        left: 15px;
      }
    }

    .broccoli-image {
      width: 165px;
      left: 120px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    .screen-page-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .screen-image {
      margin-bottom: 0;
      width: 100%;
      min-width: 535px;
    }

    .screen-desc-wrap {
      padding-left: 95px;
    }

    .screen-name {
      &:before {
        top: 50%;
        left: -105px;
        transform: translateY(-50%);
        bottom: auto;
      }
    }

    .screen-desc {
      margin-bottom: 0;
    }

    .pepper-image {
      left: auto;
      right: 0;
      width: 330px;
      bottom: 120px;
    }

    .section-dots-wrap {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(50%);
    }
  }

  #bessarabskiy-news {
    z-index: 6;

    .macBook-image {
      padding-top: 0;
      transform: translateY(-20%);
    }

    .grape-image {
      right: 0;
      width: 430px;
      top: 65px;
      transform: none;
    }

    .section-wrapper {
      margin-top: -170px;
    }

    .pepper-image {
      bottom: -65%;
      right: auto;
      width: 200px;
      left: 65px;
    }
  }

  #bessarabskiy-icons {
    .section-wrapper {
      padding-top: 180px;
      padding-bottom: 75px;
    }
    .section-title {
      text-align: center;
    }

    .section-desc {
      text-align: center;
      width: 100%;
      margin: 0 auto 85px;
      max-width: 980px;
    }
  }

  #bessarabskiy-fonts {
    .section-wrapper {
      padding-bottom: 150px;
    }

    .font-example {
      margin-bottom: 0;
    }

    .fonts-row {
      flex-direction: row-reverse;
    }

    .fonts-row-inner {
      display: flex;
      align-items: center;
    }
  }

  #bessarabskiy-mobile {
    .section-desc {
      max-width: 50%;
      margin-bottom: 160px;
    }

    .section-dots-wrap {
      top: 0;
      right: 15px;
    }

    .bottom-wrapper {
      padding: 0;
    }

    .iphone-image {
      width: 100%;
      transform: translateY(-10%);
    }

    .shape-image {
      width: 405px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #bessarabskiy-brief {
    .section-wrapper {
      padding-top: 75px;
    }

    .brief-grid-item {
      &:last-child {
        margin-top: 110px;
      }
    }

    .main-desc {
      color: #f3ece0;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 34px;
      margin-bottom: 85px;
    }

    .version-desc {
      color: #f3ece0;
      font-size: 16px;
      letter-spacing: 0.45px;
      line-height: 29px;
    }

    .brief-images-wrap {
      max-width: 100%;
      margin-bottom: 75px;
    }

    .brief-row-wrap {
      &.barrel-wrap {
        span {
          margin-top: 25px;
          margin-left: 15px;
        }
      }

      &.grape-wrap {
        margin-top: -55%;

        span {
          margin-bottom: 0;
          transform: translate(65px, 0);
        }
      }
    }

    .version-title, .brief-row-wrap span {
      color: #f3ece0;
      font-size: 40px;
      letter-spacing: 1.13px;
      line-height: 29px;
      text-transform: none;
      font-family: $museo-300;
    }

    .logo-wrap {
      margin: 0 auto 0 0;
    }

    .barrel-image {
      width: 228px;
    }

    .grape-image {
      width: 285px;
    }
  }

  #bessarabskiy-logo {
    .section-dots-wrap {
      width: 540px;
      height: 540px;
      top: -390px;
    }

    .section-wrapper {
      padding-top: 220px;
      padding-bottom: 100px;
    }

    .section-image-wrap {
      max-width: 710px;
    }
  }

  #bessarabskiy-colors-and-fonts {
    .section-wrapper {
      padding-top: 100px;
      padding-bottom: 200px;
    }

    .section-title {
      margin-bottom: 60px;
    }

    .font-info {
      p {
        max-width: 270px;

        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }

  #bessarabskiy-branding {
    .section-wrapper {
      padding-top: 45px;
    }

    .section-dots-wrap {
      width: 540px;
      height: 540px;
      right: 25px;
    }

    .section-slider-wrap {
      margin-bottom: 80px;
    }

    .slide-wrap {
      height: 800px;
    }

    .slick-dots {
      margin-top: 65px;
    }
  }

  #bessarabskiy-other {
    .section-wrapper {
      padding-top: 80px;
      padding-bottom: 175px;
    }

    .section-title {
      margin-bottom: 60px;
    }

    .project-info-wrap {
      padding: 40px 0;

      p {
        max-width: 300px;
      }
    }

    .section-image-wrap {
      height: 900px
    }
  }

  #bessarabskiy-about-site {
    .about-site-wrapper {
      padding-bottom: 450px;
      overflow: visible;
    }

    .adaptation-section-wrapper {
      max-width: 1140px;
    }

    .adaptation-wrapper {
      padding-bottom: 170px;
    }

    .section-dots-wrap {
      width: 540px;
      height: 540px;
      position: absolute;
      top: 110px;
      right: 0;
    }

    .tomato-image {
      top: 220px;
      right: -25px;
    }

    .iMac-image {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  #bessarabskiy-home-page {
    .section-wrapper {
      padding-top: 100px;
      padding-bottom: 0;

      &:last-child {
        padding-top: 20px;
        padding-bottom: 445px;
      }
    }

    .section-desc {
      &.with-dot {
        margin-bottom: 55px;
      }
    }

    .screen-page-1 {
      margin-top: -230px;
      width: 650px;
    }

    .screen-page-2 {
      width: 635px;
      margin-left: 40%;
    }

    .section-dots-wrap {
      width: 540px;
      height: 540px;

      &.top-dots {
        top: 0;
        left: 0;
        transform: none;
      }
    }
    .screen-image {
      min-width: 635px;
    }

    .screen-name {
      font-size: 40px;
      letter-spacing: 1.13px;
      padding-bottom: 0;
      margin-bottom: 20px;

      &:before {
        left: -115px;
      }
    }

    .screen-desc {
      font-size: 16px;
      line-height: 29px;
    }

    .pepper-image {
      bottom: 215px;
      width: 405px;
    }
  }

  #bessarabskiy-news {
    .macBook-image {
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
    }

    .news-page-image {
      margin-bottom: -25%;
    }

    .pepper-image {
      width: 315px;
      bottom: -100%;
    }
  }

  #bessarabskiy-icons {
    .section-wrapper {
      padding-top: 260px;
    }
  }

  #bessarabskiy-fonts {
    .section-wrapper {
      padding-bottom: 230px;
    }

    .project-info-wrap {
      padding: 40px 0;
    }

    .font-example {
      font-size: 25px !important;
      letter-spacing: 0.7px !important;
    }
  }

  #bessarabskiy-mobile {
    .section-wrapper {
      padding-bottom: 80px;
    }

    .section-dots-wrap {
      width: 540px;
      height: 540px;
      right: -105px;
    }

    .iphone-image {
      max-width: 1140px;
      transform: translateY(-15%);
    }
  }
}
