#marinist-project-page {
  .navigation-wrap {
    &.scroll-up {
      .nav-el {
        span {
          color: #fff !important;
        }
      }
    }
  }

  .nav-el {
    span {
      color: #000000;
    }
  }

  .see-more-box {
    .link {
      color: #000000;
    }
  }
}

#marinist-main {
  .section-image-wrap {
    img {
      object-fit: cover;
      object-position: 80% center;
    }
  }
}

#marinist-philosophy {
  background-color: #055e70;

  .philosophy-info-wrap {
    padding: 80px 15px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-title, .section-desc {
    color: #fff;
  }

  .section-desc {
    margin-bottom: 0;
  }

  .philosophy-logo-wrap {
    padding: 145px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section-desc {
      text-align: center;
    }
  }

  .water-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      object-fit: cover;
    }
  }

  .logo-image {
    margin-bottom: 75px;
    width: 190px;
  }
}

#marinist-logo {
  .section-wrapper {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .section-dots-wrap {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-75px, -90px);
  }

  .logo-full-image {
    max-width: 280px;
    margin: 0 auto;
  }
}

#marinist-colors {
  .section-wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

#marinist-fonts {
  .section-wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .font-example {
    color: #12171e;
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 40px;

    &.medium {
      font-family: $montserrat;
      font-weight: 500;
    }

    &.regular {
      font-family: $monique-regular;
      font-weight: 400;
    }
  }

  .content-wrap {
    margin-bottom: 0;

    .section-desc {
      margin-bottom: 0;
    }
  }
}

#marinist-branding {
  background-color: #055e70;

  .section-wrapper {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .section-title, .section-desc, p {
    color: #fff;
  }

  .slider-wrap {
    margin-bottom: 0;
    margin-top: -90px;
    transform: translateY(90px);
    position: relative;
    z-index: 10;
  }

  .slide-image-wrap {
     img {
       max-width: 90%;
       margin: 0 auto;
     }
  }

  .section-slider-wrap {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#marinist-logobook {
  .section-wrapper {
    padding-top: 130px;
    padding-bottom: 25px;
  }

  .flipbook {
    overflow: visible !important;
    margin: 0 auto !important;

    img {
      object-fit: contain;
    }
  }

  .logobook-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;

    p {
      color: #493a33;
      font-size: 14px;
      letter-spacing: 0.39px;
    }
  }

  .arrow-left, .arrow-right {
    width: 13px;
    cursor: pointer;
  }

  .arrow-left {
    margin-right: 25px;
  }

  .arrow-right {
    margin-left: 25px;
  }
}

#marinist-about-site {
  .section-wrapper {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .section-dots-wrap {
    position: absolute;
    top: 125px;
    right: -60px;
    z-index: -1;
  }

  .section-desc {
    margin-bottom: 60px;
  }

  .about-site-image {
    margin-bottom: 80px;
  }

  .home-page-title {
    color: #35271c;
    font-family: $museo-300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .home-page-desc {
    color: #35271c;
    font-family: $museo-100;
    font-size: 14px;
    line-height: 29px;
    margin-bottom: 40px;
  }
}

#marinist-selection-pages {
  background-color: #055e70;

  .section-wrapper {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .section-title, .section-desc {
    color: #fff;
  }

  .page-image {
    margin-bottom: 30px;
  }

  .page-name {
    position: relative;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #fff;
    }
  }

  .page-desc {
    font-size: 14px;
    line-height: 29px;
  }
}

#marinist-menu {
  .section-wrapper {
    padding-top: 50px;
    padding-bottom: 110px;
  }

  .section-dots-wrap {
    position: absolute;
    bottom: 50px;
    left: -55px;
    z-index: -1;
  }
}

#marinist-other-pages {
  background-color: #055e70;

  .section-title, .section-desc {
    color: #fff;
  }

  .section-wrapper {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .waves-pattern {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 0;
    height: 990px;

    img {
      object-fit: cover;
    }
  }
}

#marinist-adaptation {
  .section-wrapper {
    padding-top: 50px;
    padding-bottom: 130px;
  }

  .adaptation-image {
    margin: 0 auto 60px;
  }

  .desktop {
    max-width: 345px;
  }

  .laptop {
    max-width: 322px;
  }

  .tablet {
    max-width: 210px;
  }

  .mobile {
    max-width: 65px;
  }

  .adaptation-device-wrap {
    margin-top: 50px;
  }

  .section-dots-wrap {
    position: absolute;
    top: -50px;
    right: -60px;
  }
}

#marinist-mobile {
  background-color: #055e70;

  .section-wrapper {
    padding-top: 40px;
    padding-bottom: 110px;
  }

  .waves-pattern {
    position: absolute;
    bottom: 0;
    height: 990px;
    z-index: 0;

    img {
      object-fit: cover;
      object-position: top center;
    }
  }

  .section-title, .section-desc {
    color: #fff;
  }

  .section-desc {
    margin-bottom: 80px;
  }

  .iPhoneX-image {
    max-width: 225px;
    width: 100%;
    margin: 0 auto;
  }
}

@include media-breakpoint-up('md') {
  #marinist-philosophy {
    .section-wrapper {
      max-width: 100%;
    }

    .section-title, .section-desc {
      width: 100%;
      max-width: 540px;
      margin: 0 auto;
    }

    .section-title {
      margin-bottom: 40px;
    }

    .philosophy-logo-wrap {
      .section-title {
        text-align: center;
      }
    }
  }

  #marinist-logo {
    .section-dots-wrap {
      transform: translate(-15px, -70%);
    }
  }

  #marinist-colors {
    .content-wrap {
      margin: 0 auto 40px;
    }
  }

  #marinist-fonts {
    .font-example {
      margin-bottom: 40px;
    }

    .content-wrap {
      margin: 0 auto;
    }
  }
}

@include media-breakpoint-up('lg') {
  #marinist-project-page {
    .nav-el {
      span {
        color: #fff;
      }
    }

    .see-more-box {
      .link {
        color: #fff;
      }
    }
  }

  #marinist-main {
    .section-title, .section-desc {
      color: #fff;
    }

    .section-image-wrap {
      img {
        object-position: center center;
      }
    }
  }

  #marinist-colors {
    .row-color-wrap {
      flex-direction: row-reverse;
    }
  }

  #marinist-branding {
    .section-slider-wrap {
      margin-top: 40px;
    }

    .section-dots-wrap {
      position: absolute;
      top: -40px;
      right: 0;
    }
  }

  #marinist-logobook {
    .section-title, .section-desc {
      text-align: center;
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #marinist-about-site {
    .section-desc {
      max-width: 50%;
    }
    .section-dots-wrap {
      top: 0;
      right: 0;
    }

    .home-page-desc {
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  #marinist-selection-pages {
    .col-selection-item {
      margin-bottom: 40px;

      &:nth-child(even) {
        & > .row {
          flex-direction: row-reverse;
        }
      }
    }

    .page-image {
      margin-bottom: 0;
    }

    .page-desc {
      margin-bottom: 0;
    }

    .page-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #marinist-menu {
    .section-desc {
      max-width: 50%;
      margin-bottom: 80px;
    }

    .section-dots-wrap {
      bottom: 110px;
      left: 15px;
    }
  }

  #marinist-other-pages {
    .section-desc {
      max-width: 50%;
      margin-bottom: 0;
    }

    .other-pages {
      margin-top: -40px;
    }
  }

  #marinist-adaptation {
    .section-title, .section-desc {
      text-align: center;
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
    }

    .adaptation-image {
      margin-bottom: 0;
    }

    [class*='col-lg'] {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    .adaptation-device-wrap {
      margin-top: 140px;
    }

    .section-dots-wrap {
      top: -60px;
      right: 50px;
    }
  }

  #marinist-mobile {
    .row {
      flex-direction: row-reverse;
    }

    .col-lg-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .waves-pattern {
      height: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .section-desc {
      margin-bottom: 0;
    }

    .iPhoneX-image {
      transform: translateY(-50px);
      max-width: 360px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #marinist-philosophy {
    .philosophy-logo-wrap {
      padding-top: 230px;
      padding-bottom: 280px;

      .section-title {
        font-family: $museo-300;
        font-size: 40px;
        letter-spacing: 1.13px;
        line-height: 29px;
        text-transform: none;
      }
    }
  }

  #marinist-logo {
    .section-dots-wrap {
      opacity: .5;
      z-index: 7;
    }

    .section-wrapper {
      padding-top: 250px;
      padding-bottom: 120px;
    }

    .logo-full-image {
      max-width: 640px;
    }
  }

  #marinist-colors {
    .section-wrapper {
      padding-top: 120px;
      padding-bottom: 50px;
    }

    .section-title {
      margin-bottom: 60px;
    }

    .content-wrap {
      margin: 0 auto 60px 0;
    }

    .square-text-wrap {
      max-width: 190px;
    }
    .color-wrap {
      width: 90px;
      height: 90px;
      margin: 40px auto;
    }

    .info-wrap {
      margin-top: 70px;
    }
  }

  #marinist-fonts {
    .section-wrapper {
      padding-top: 50px;
      padding-bottom: 155px;
    }

    .content-wrap {
      margin: 0 auto 0 0;
    }

    .font-example {
      margin-bottom: 0;
    }
  }

  #marinist-branding {
    .section-wrapper {
      padding-top: 100px;
    }

    .slider-wrap {
      margin-top: -115px;
      transform: translateY(115px);
    }

    .section-slider-wrap {
      margin-top: 90px;
    }

    .section-dots-wrap {
      top: -80px;
      right: 90px;
    }

    .slide-image-wrap {
      img {
        max-width: 1100px;
      }
    }

    .slick-dots {
      margin-top: 40px;
    }
  }

  #marinist-logobook {
    .section-wrapper {
      padding-top: 280px;
      padding-bottom: 85px;
    }

    .section-desc {
      margin-bottom: 80px;
    }
  }

  #marinist-about-site {
    .section-wrapper {
      padding-top: 85px;
      padding-bottom: 90px;
    }

    .section-dots-wrap {
      top: 85px;
    }

    .section-desc {
      margin-bottom: 135px;
    }

    .about-site-image {
      margin-bottom: 90px;
    }

    .home-page-title {
      font-size: 40px;
      letter-spacing: 1.13px;
      line-height: 29px;
      margin-bottom: 20px;
    }

    .home-page-desc {
      margin-bottom: 0;
    }
  }

  #marinist-selection-pages {
    .section-wrapper {
      padding-top: 80px;
      padding-bottom: 30px;
    }

    .col-selection-item {
      margin-bottom: 80px;

      &:nth-child(even) {
        .page-info {
          padding-left: 0 !important;
        }

        .page-name {
          &:after {
            left: 0;
            right: -10px;
          }
        }
      }

      [class*='col'] {
        padding: 0;
      }
    }

    .page-info {
      padding-left: 100px !important;
    }

    .page-name {
      font-size: 30px;
      letter-spacing: 0.85px;
      line-height: 29px;

      &:after {
        left: -135px;
      }
    }
  }

  #marinist-menu {
    .section-wrapper {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .section-desc {
      margin-bottom: 105px;
    }

    .section-dots-wrap {
      bottom: 130px;
    }
  }

  #marinist-other-pages {
    .section-wrapper {
      padding-top: 100px;
    }

    .other-pages {
      margin-top: 0;
    }
  }

  #marinist-adaptation {
    .section-wrapper {
      padding-top: 150px;
      padding-bottom: 100px;
    }

    .section-desc {
      margin-bottom: 85px;
    }

    .adaptation-device-wrap {
      margin-top: 190px;
    }

    .section-dots-wrap {
      top: -66px;
      right: -60px;
    }
  }

  #marinist-mobile {
    .iPhoneX-image {
      max-width: 460px;
    }
  }
}
