#pride-logistic-main {
  background-color: #242424;

  .section-background {
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .section-title {
    color: #e6923a;
  }
}

#pride-logo-story-section {
  background-color: #242424;

  .section-title, .section-desc {
    color: #fff;
  }

  .section-title {
    margin-bottom: 50px;
  }

  .section-image-wrap {
    max-width: 260px;
    margin: 0 auto 40px auto;
  }
}

#pride-logo-variations-section {
  overflow: hidden;

  .section-line {
    &.top {
      height: 30px;
    }
  }

  .section-desc {
    margin-bottom: 150px;
  }

  .col-12 {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .variation-wrap {
    position: relative;
    padding: 75px 25px 60px 25px;
    border: 2px solid #d29143;
    margin-bottom: 150px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 80px;
      width: 270px;
      background-color: #fff;
      z-index: 1;
      transform: translate(25px, -50%);
    }

    .section-desc {
      margin-bottom: 0;
      font-size: 16px;
      letter-spacing: 0.45px;
    }
  }

  .logo-number {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 30px;
    font-size: 140px;
    line-height: 0.8;
    opacity: 0.2;
    color: $pride-accent;
    z-index: 2;
    font-family: $museo-700;
  }

  .logo-wrap {
    position: absolute;
    top: 40px;
    left: 0;
    transform: translate(75px, -100%);
    z-index: 2;
  }
}

#pride-results-section {
  .section-wrapper {
    padding-top: 0;
  }

  .logo-results-wrap {
    margin-bottom: 40px;
  }
}

#pride-logo-application-section {
  background-color: #272727;

  .section-background-wrap {
    position: relative;
    width: 115%;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-wrapper {
    max-width: 100%;
    padding: 0 20px 40px 35px;
    margin-top: -54%;
  }

  .section-title, .section-desc {
    color: #fff;
  }

  .section-title {
    padding-left: 35px;
  }

  .section-desc {
    margin-bottom: 50px;
  }

  .section-slider-wrap {
    padding-bottom: 20px;
  }

  .slick-slide > div {
    padding: 0 15px;
  }

  .slick-dots {
    margin-top: 40px;
  }
}

#pride-brandbook-section {
  background-color: #242424;

  .section-image-wrap {
    width: 100%;
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 85px;
  }

  .section-title {
    font-size: 37px;
    letter-spacing: 1.03px;
    color: #fff;
    text-align: center;
  }

  .book-wrap {
    position: relative;
    margin-top: 100px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #242424;
      opacity: 0.6;
      z-index: 2;
      transition: all 0.5s $timing-func;
    }

    &.isOpen {
      &:before {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

 .flipbook {
    margin: 0 auto !important;
    z-index: 1;

   .page {
     width: 100%;
     height: 100%;

     img {
       width: 100%;
       height: 100%;
       max-width: 100%;
       object-fit: contain;
       user-select: none;
     }
   }
  }

  .open-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70px);
    z-index: 2;
    transition: all 0.5s $timing-func;

    &.isOpen {
      opacity: 0;
      transform: translate(-50%, -90px);
    }

    .sub-title {
      color: #fff;
      font-family: $museo-700;
      font-size: 16px;
      letter-spacing: 0.45px;
    }
  }

  .line {
    height: 90px;
    width: 1px;
    background-color: #fff;
  }

  .circle {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
}

#pride-about-site-section {
  overflow: hidden;

  .section-image-wrap {
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    z-index: 1;
    transform: translateY(10px);
  }

  .section-wrapper {
    &.mac-wrapper {
      max-width: 100%;
      padding: 0;
    }
  }

  .site-on-mac-wrap {
    position: relative;
    background-color: #242424;

    img {
     transform: translate(-60px, -30px);
    }
  }

  .about-list {
    position: absolute;
    top: 50px;
    right: 24px;
    z-index: 1;
  }

  .about-list-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      .line {
        width: 250px;
      }
    }
    &:nth-child(2) {
      .line {
        width: 170px;
      }
    }
    &:nth-child(3) {
     .line {
       width: 140px;
     }
    }
  }

  .line-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    .line {
      display: block;
      height: 1px;
      background-color: #ffffff;
    }

    .circle {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      border: 1px solid #fff;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .list-item-text {
    color: #fff;
    font-family: $museo-300;
    font-size: 10px;
    letter-spacing: 0.28px;
  }

  .how-to-menu-wrap {
    position: relative;
    padding: 30px 0 0;
  }

  .dots-image-wrap {
    position: absolute;
    top: 50%;
    width: 160px;
    height: 100px;
    z-index: 0;

    &.to-left {
      left: 0;
      transform: translate(-50%, -50%);
    }

    &.to-right {
      right: 0;
      transform: translate(50%, -50%);
    }

    img {
      object-fit: cover;
    }
  }

  .inner-pages-wrap {
    position: relative;
    overflow: hidden;
    height: auto;
    margin-bottom: 30px;
    padding-top: 80px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 150%;
      height: 100%;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color: #272727;
      transform: rotate(-30deg);
      transform-origin: left bottom;
    }
  }

  .inner-pages-image {
    position: relative;
    width: 440px;
    max-width: 1280px;
    left: -90px;
    bottom: 0;
    z-index: 2;
  }

  .section-background-wrap {
    position: relative;
    width: 100%;
    height: auto;
  }

  .lion-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 142px;
    height: 222px;
  }
}

#pride-services-section {
  background-color: #242424;

  .section-desc {
    margin-bottom: 20px;
  }

  [class*='-image-wrap'] {
    width: 100%;
  }

  .first-services {
    padding-top: 45px;
    background-color: #fff;
  }

  .second-services {
    padding-top: 50px;
    padding-bottom: 60px;

    .section-title, .section-desc {
      color: #fff;
    }
  }

  .services-image-wrap {
    height: 170px;

    .services-image {
      position: relative;
      top: 50%;
      height: auto;
      max-width: 90%;
      margin: 0 auto;
      transform: translateY(-50%);
      z-index: 7;
    }
  }

  .all-devices-image-wrap {
    padding-bottom: 50px;

    img {
      transform: translateY(-40px);
    }
  }
}

@include media-breakpoint-up('md') {
  #pride-results-section {
    .logo-results-wrap {
      width: 100%;
      max-width: 430px;
      margin: 0 0 0 auto;
    }
  }

  #pride-logo-application-section {
    .section-wrapper {
      padding: 0 24px;
      max-width: 600px;
    }

    .section-slider-wrap {
      padding-bottom: 40px;
    }

    .slick-slide {
      & > div {
        width: 600px;
        margin: 0 auto;
      }
    }

    .flip-wrapper {
      width: 650px !important;
      height: 500px !important;

    }
  }

  #pride-brandbook-section {
    .open-wrap {
      left: 75%;
    }
  }

  #pride-about-site-section {
    .section-image-wrap {
      max-width: 70%;
      transform: translateY(15px);
    }

    .dots-image-wrap {
      width: 420px;
      height: 220px;
    }

    .inner-pages-image {
      left: 0;
      width: 100%;
      transform: translateX(-160px);
    }

    .site-on-mac-wrap {
      img {
        max-width: 75%;
        transform: translate(0, -60px);
      }
    }

    .about-list {
      right: 10%;
      top: 75px;
    }

    .about-list-item {
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 40px;

      &:nth-child(1) {
        .line {
          width: 320px;
        }
      }
      &:nth-child(2) {
        .line {
          width: 190px;
        }
      }
      &:nth-child(3) {
        .line {
          width: 140px;
        }
      }
    }

    .list-item-text {
      font-size: 16px;
      letter-spacing: 0.45px;
      margin-left: 10px;
    }
  }

  #pride-services-section {
    .services-image-wrap {
      height: 320px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #pride-logo-story-section {
    .section-image-wrap {
      max-width: 310px;
      margin-bottom: 0;
    }
  }

  #pride-logo-variations-section {
    .section-desc {
      max-width: 50%;
    }

    .section-dots-wrap {
      position: absolute;
      top: 0;
      right: 15px;
      width: 420px;
      height: 420px;
      transform: translateY(-30%);
    }

    .col-12 {
      position: relative;
      margin-bottom: 140px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 120px;
        height: 2px;
        background-color: #f0f0f0;
      }

      &:nth-child(even) {
        &:before {
          right: 0;
        }

        .variation-wrap {
          margin: 0 auto 0 0;
        }
      }

      &:nth-child(odd) {
        &:before {
          left: 0;
        }

        .variation-wrap {
          margin: 0 0 0 auto;

          &:before {
            left: auto;
            right: 0;
            transform: translate(-25px, -50%);
          }
        }

        .logo-number {
          right: 205px;
          top: 5px;
          left: auto;
        }

        .logo-wrap {
          left: auto;
          right: 0;
          transform: translate(-35px, -100%);
        }
      }
    }

    .variation-wrap {
      max-width: 740px;
      border-width: 5px;
      margin-bottom: 0;

      .section-desc {
        max-width: 100%;
      }
    }
  }

  #pride-brandbook-section {
    .section-wrapper {
      overflow: hidden;
    }

    .section-image-wrap {
      height: 600px;
      overflow: hidden;

      img {
        position: relative;
        top: 50%;
        left: 50%;
        height: auto;
        transform: translate(-50%, -50%);
      }
    }

    .section-title {
      font-size: 62px;
      margin-bottom: 0;
    }

    .book-wrap {
      width: 100%;
      max-width:100%;
      margin: 100px 0 0 auto;
    }

    .open-wrap {
      left: 10%;
      top: auto;
      bottom: 60px;
      transform: translate(0, 0);
      flex-direction: row;

      &.isOpen {
        transform: translate(-40px, 0px);
      }
    }

    .sub-title {
      margin-right: 10px;
    }

    .line {
      height: 1px;
      width: 350px;
    }

    .flip-wrapper {
      margin: 0 0 0 auto;
    }

    .section-dots-wrap {
      position: absolute;
      top: -15px;
      left: 0;
      width: 420px;
      height: 220px;

      img {
        object-fit: cover;
      }
    }
  }

  #pride-about-site-section {
    .section-dots-wrap {
      position: absolute;
      top: -15px;
      left: -25%;
      width: 420px;
      height: 220px;

      &.bottom {
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        z-index: 1;
      }

      img {
        object-fit: cover;
      }
    }

    .section-wrapper {
      max-width: 650px;
    }

    .section-image-wrap {
      max-width: 60%;
      transform: translateY(20px);
    }

    .inner-pages-image {
      transform: translateX(-210px);
    }

    .about-list {
      right: 20%;
      top: 140px;
    }

    .about-list-item {
      margin-bottom: 50px;

      &:nth-child(1) {
        .line {
          width: 370px;
        }
      }
      &:nth-child(2) {
        .line {
          width: 190px;
        }
      }
      &:nth-child(3) {
        .line {
          width: 140px;
        }
      }
    }
  }

  #pride-services-section {
    .first-services, .second-services {
      .section-title, .section-desc {
        max-width: 50%;
      }
    }

    .services-image-wrap {
      position: relative;

      .services-image {
        max-width: 75%;
      }
    }

    .section-dots-wrap {
      position: absolute;
      left: -23%;
      top: 50%;
      transform: translateY(-50%);
      width: 420px;
      height: 220px;
      object-fit: cover;

      &.right {
        left: auto;
        right: -23%;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  #pride-logistic-main {
    .section-background {
      top: 0;
      left: 0;
      width: 1100px;
      margin: 0 auto;
      bottom: auto;
      transform: none;

      img {
        object-fit: cover;
      }
    }
  }

  #pride-logo-story-section {
    .section-title {
      margin-bottom: 20px;
    }

    .section-image-wrap {
      margin: 0 0 0 auto;
    }

    .col-lg-6 {
      &:before {
        width: 270px;
      }
    }
  }

  #pride-logo-variations-section {
    .section-wrapper {
      padding-bottom: 120px;
    }
  }

  #pride-logo-application-section {
    .section-wrapper {
      max-width: 55%;
    }

    .section-title {
      padding-left: 0;
    }

    .section-desc {
      max-width: 100%;
    }

    .section-background-wrap {
      width: 106%;
    }

    .slick-slide {
      & > div {
        width: 780px;
      }
    }

    .slick-dots {
      margin-top: 65px;
    }
  }

  #pride-brandbook-section {
    .section-image-wrap {
      height: 700px;
      background-color: #fff;

      img {
        max-width: 1100px;
        margin: 0 auto;
      }
    }

    .section-dots-wrap {
      opacity: 0.2;
    }

    .section-title {
      font-size: 112px;
      letter-spacing: 3.44px;
    }

    .open-wrap {
      left: 15%;
    }
  }

  #pride-about-site-section {
    .site-on-mac-wrap {
      .section-wrapper {
        max-width: 1100px;
      }

      img {
        max-width: 100%;
        transform: translate(-25%, -30px);
      }
    }

    .about-list {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .about-list-item {
      margin-bottom: 110px;

      .line-wrap {
        flex-direction: row;
      }

      &:nth-child(1) {
        .line {
          width: 760px;
        }
      }

      &:nth-child(2) {
        .line {
          width: 540px;
        }
      }

      &:nth-child(3) {
        .line {
          width: 440px;
        }
      }
    }

    .lion-image {
      width: 400px;
      height: 470px;
    }

    .dots-image-wrap {
      width: 520px;
      height: 315px;
    }

    .section-dots-wrap {
      left: -10%;

      &.bottom {
        right: -50px;
        height: 285px;
      }
    }

    .inner-pages-image {
      transform: translateX(-260px);
    }

    .section-image-wrap {
      max-width: 805px;
      transform: translateY(90px);
    }

    .section-background-wrap {
      .lion-image {
        width: 400px;
        height: 470px;
      }
    }
  }

  #pride-services-section {
    .first-services {
      max-width: 100%;
    }

    .second-services {
      padding-top: 70px;
      padding-bottom: 75px;
    }

    .inner-wrap {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
    }

    .services-image-wrap {
      height: 500px;

      .services-image {
        max-width: 1100px;
        margin: 0 auto;
      }
    }

    .section-dots-wrap {
      left: -180px;
      opacity: 0.4;
      height: 215px;

      &.right {
        right: -180px;
      }
    }

    .all-devices-image-wrap {
      padding-bottom: 85px;

      img {
        max-width: 1100px;
        margin: 0 auto;
      }
    }
  }
}
