@import "../../Static/index";

#attic-philosophy {
  height: 900px;

  .section-desc {
    margin-bottom: 0;
  }

  .philosophy-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      object-fit: cover;
      object-position: 65%;
    }
  }
}

#attic-logo-concept {
  .section-wrapper {
    padding-top: 70px;
    padding-bottom: 35px;
  }

  .logo-concept-image {
    max-width: 255px;
    margin: 0 auto;
  }
}

#attic-colors-and-fonts {
  .colors-row {
    margin-bottom: 30px;
  }

  .col-item-color {
    margin-bottom: 70px;

    &:nth-child(even) {
      .color-info-wrap {
        margin-left: 130px;
        flex-direction: row;
      }
    }
  }

  .color-info-wrap {
    position: relative;
    justify-content: flex-start;
  }

  .color-image {
    width: 55px;
    margin-right: 15px;
  }

  .info-wrap {
    margin: 0 !important;
  }

  .info-text {
    &:first-child {
      position: absolute;
      bottom: -35px;
      left: 0;
      margin-bottom: 0;
    }
  }

  .font-example {
    color: #12171e;
    font-size: 25px;
    letter-spacing: 6px;
    line-height: 35px;
  }

  .font-first {
    font-family: $andis-regular;
  }

  .font-second {
    font-family: $gill-sans-regular;
    margin-bottom: 100px;
  }
}

#attic-branding {
  background-color: #231f20;

  .section-wrapper {
    padding-bottom: 20px;
  }

  .branding-image {
    width: 100%;

    img {
      object-fit: cover;
    }
  }
}

#attic-slider {
  .section-slider-wrap {
    margin-top: 90px;
    margin-bottom: 60px;
  }

  .slick-slide {
    & > div {
      width: 100%;
      max-width: 190px;
      margin: 0 auto;
    }
  }

  .slick-dots {
    margin-top: 90px;
  }
}

#attic-about-site {
  background-image: linear-gradient(180deg, #060606 0%, #1a1a1a 100%);

  .section-wrapper {
    padding-bottom: 10px;
  }

  .section-title, .section-desc {
    color: #fff;
  }

  .section-desc {
    margin-bottom: 0;
  }

  .about-site-image {
    width: 540px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-page-title {
    font-family: $museo-300;
    text-transform: none;
    margin-bottom: 20px;
  }

  .home-page-desc {
    margin-bottom: 40px;
  }
}

#attic-other-pages {
  .section-wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .section-dots-wrap {
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
  }

  .row-even {
    .page-title {
      text-align: right;
    }

    .page-desc {
      text-align: right;
    }
  }

  .page-title {
    color: #12171e;
    font-family: $museo-300;
    font-size: 24px;
    letter-spacing: 0.68px;
    text-transform: none;
    margin-bottom: 15px;
  }

  .page-desc {
    margin-bottom: 0;
    font-family: $museo-100;
  }
}

#attic-icons {
  background-color: #161616;
  overflow: hidden;

  .section-title, .section-desc {
    position: relative;
    z-index: 1;
  }

  .icon-image {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  .col-icon {
    margin-bottom: 60px;
  }

  .icon-line {
    display: block;
    position: absolute;

    &.vertical {
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 9999px;

      &:nth-child(1) {
        left: 0;
        border-left: 1px dashed #383838;
      }

      &:nth-child(2) {
        right: 0;
        border-right: 1px dashed #383838;
      }
    }

    &.horizontal {
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 9999px;

      &:nth-child(3) {
        top: 0;
        border-top: 1px dashed #383838;
      }

      &:nth-child(4) {
        bottom: 0;
        border-bottom: 1px dashed #383838;
      }
    }
  }

  .elephant-image {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 15px;
    width: 330px;
  }
}

#attic-tablet {
  .section-wrapper {
    padding-bottom: 25px;
  }

  .section-dots-wrap {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .col-tablet {
    &:nth-child(1) {
      .tablet-image {
        max-width: 265px;
      }
    }

    &:nth-child(2) {
      margin-top: -130px;

      .row {
        flex-direction: column-reverse;
      }

      .tablet-image {
        max-width: 265px;
        margin: 0 0 0 auto;
      }
    }
  }

  .tablet-title {
    font-family: $museo-300;
    text-transform: none;
    margin-bottom: 20px;
  }

  .section-desc {
    font-family: $museo-100;
  }

  .tablet-image {
    width: 100%;
  }
}

#attic-mobile {
  .top-info-wrapper {
    padding-top: 0;
    padding-bottom: 100px;
  }

  .mobile-pages-wrapper {
    padding-top: 0;
    padding-bottom: 85px;
  }

  .footer-wrap {
    position: relative;
    background-color: #161616;
    padding-bottom: 120px;
  }

  .mobile-image {
    position: relative;
    width: calc(100% + 30px);
  }

  .row-mobile {
    align-items: center;
  }

  .col-mobile {
    &:first-child {
      margin-top: -90px;
    }

    &:not(&:first-child) {
      margin-top: -40px;
    }

    &:nth-child(odd) {
      .mobile-image {
        left: -15px;
      }
    }

    &:nth-child(even) {
      .row-mobile {
        flex-direction: row-reverse;
      }
    }
  }

  .mobile-title {
    font-family: $museo-300;
    margin-bottom: 20px;
    text-transform: none;
  }

  .mobile-desc {
    font-family: $museo-100;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
  }

  .section-dots-wrap {
    left: 50%;
    transform: translateX(-50%);
    bottom: 280px;
    z-index: 0;
  }

  .footer-hand-first {
    position: relative;
    width: 100%;
    max-width: 290px;
    margin-bottom: 35px;
    z-index: 1;
  }

  .footer-hand-second {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0 0 0 auto;
    z-index: 1;
  }

  .footer-hands-image {
    position: relative;
    width: 100%;
    z-index: 1;
  }
}

@include media-breakpoint-up('md') {
  #attic-colors-and-fonts {
    .color-info-wrap {
      max-width: 100%;
    }

    .logo-demo {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
    }
  }

  #attic-about-site {
    .about-site-image {
      width: 100%;
      max-width: 100%;
    }
  }

  #attic-icons {
    .elephant-image {
      width: 530px;
    }
  }

  #attic-mobile {
    .mobile-image {
      width: 100%;
      left: 0 !important;
    }
  }
}

@include media-breakpoint-up('lg') {
  #attic-philosophy {
    display: flex;
    align-items: center;

    .section-wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-title, .section-desc {
      max-width: 50%;
    }
  }

  #attic-logo-concept {
    .logo-concept-image {
      max-width: 455px;
    }
  }

  #attic-colors-and-fonts {
    .color-info-wrap {
      flex-direction: row !important;
      align-items: flex-end;
    }

    .color-image {
      width: 80px;
      min-width: 80px;
    }
  }

  #attic-branding {
    .section-wrapper {
      padding-top: 85px;
      padding-bottom: 85px;
    }

    .branding-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
  }

  #attic-slider {
    .slick-slide {
      & > div {
        max-width: 350px;
      }
    }
  }

  #attic-about-site {
    .section-wrapper {
      padding-bottom: 120px;
    }

    .section-title {
      margin-bottom: 0;
    }

    .home-page-title {
      margin-bottom: 25px;
    }

    .home-page-desc {
      margin-bottom: 0;
    }
  }

  #attic-other-pages {
    .section-wrapper {
      padding-top: 60px;
      padding-bottom: 0;
    }

    .row-even {
      flex-direction: row-reverse;
    }

    .col-wrap-info {
      &:nth-child(odd) {
        .col-page-info {
          transform: translateX(50%);
          margin-top: 40px;
        }

        .page-title {
          margin-left: 30px;
        }
      }

      &:nth-child(even) {
        .col-page-info {
          transform: translateX(-30%);
          margin-top: 60px;
        }

        .page-title {
          margin-left: 30px;
        }
      }

      &:last-child {
        .col-page-info {
          margin-top: 30px;
        }
      }
    }

    .section-dots-wrap {
      right: 15px;
    }

    .col-page-info {
      .section-title, .section-desc {
        text-align: left;
      }
    }
  }

  #attic-icons {
    .section-title, .section-desc {
      margin-bottom: 0;
    }

    .col-icons-wrap {
      padding-top: 60px;
    }
  }

  #attic-tablet {
    .section-title {
      margin-bottom: 100px;
    }

    .section-wrapper {
      padding-bottom: 80px;
    }

    .section-dots-wrap {
      top: 50%;
      left: 15px;
      right: auto;
    }

    .col-tablet {
      &:nth-child(1) {
        .row {
          flex-direction: row-reverse;
        }

        .tablet-image {
          margin-left: auto;
          margin-right: 0;
        }
      }

      &:nth-child(2) {
        margin-top: -200px;

        .row {
          flex-direction: row;
        }

        .tablet-title, .tablet-desc {
          margin-left: auto;
          margin-right: 0;
        }

        .tablet-title {
          margin-top: 0;
        }

        .tablet-desc {
          margin-bottom: 170px;
        }

        .tablet-image {
          margin-left: 0;
          margin-right: auto;
        }

        .col-lg-6 {
          &:first-child {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
          }
        }
      }
    }

    .tablet-image {
      max-width: 400px !important;
      margin: 0 auto;
    }

    .tablet-title, .tablet-desc {
      width: 100%;
      max-width: 350px;
    }

    .tablet-title {
      margin-top: 90px;
      margin-bottom: 30px;
    }

    .tablet-desc {
      margin-bottom: 0;
    }
  }

  #attic-mobile {
    .top-info-wrapper {
      padding-bottom: 170px;

      .section-title, .section-desc {
        margin-bottom: 0;
      }
    }

    .mobile-pages-wrapper {
      padding-bottom: 140px;
    }

    .col-mobile {
      margin-top: -90px;
    }

    .mobile-image {
      margin-bottom: 45px;
      width: calc(100% + 15px);
    }

    .mobile-title {
      margin-bottom: 30px;
    }

    .footer-wrap {
      padding-bottom: 0;
    }

    .section-dots-wrap {
      opacity: 0.3;
      bottom: 130px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #attic-philosophy {
    height: 1000px;
  }

  #attic-logo-concept {
    .section-wrapper {
      padding-top: 135px;
      padding-bottom: 85px;
    }

    .logo-concept-image {
      max-width: 675px;
    }
  }

  #attic-colors-and-fonts {
    .section-wrapper {
      padding-top: 85px;
      padding-bottom: 150px;
    }

    .section-title {
      margin-bottom: 60px;
    }

    .colors-row {
      margin-bottom: 120px;
    }

    .font-second {
      margin-bottom: 0;
    }
  }

  #attic-branding {
    .section-wrapper {
      padding-top: 135px;
      padding-bottom: 135px;
    }

    .section-desc {
      margin-bottom: 125px;
    }

    .branding-image {
      img {
        object-position: top;
      }
    }
  }

  #attic-slider {
    .section-slider-wrap {
      margin-top: 150px;
      margin-bottom: 130px;
    }

    .slick-slide {
      & > div {
        max-width: 450px;
      }
    }

    .slick-dots {
      margin-top: 100px;
    }
  }

  #attic-other-pages {
    .section-wrapper {
      padding-top: 90px;
    }

    .section-title {
      margin-bottom: 0;
    }

    .page-title {
      font-size: 30px;
      letter-spacing: 0.85px;
      margin-bottom: 30px;
    }
  }

  #attic-icons {
    .section-wrapper {
      padding-bottom: 190px;
    }

    .col-icons-wrap {
      padding-top: 160px;
    }

    .elephant-image {
      right: 75px;
      width: 750px;
    }
  }

  #attic-tablet {
    .section-wrapper {
      padding-bottom: 130px;
    }

    .tablet-image {
      max-width: 500px !important;
    }

    .tablet-title {
      font-size: 30px;
      letter-spacing: 0.85px;
    }
  }

  #attic-mobile {
    .mobile-pages-wrapper {
      padding-bottom: 180px;
    }

    .mobile-title {
      font-size: 30px;
      letter-spacing: 0.85px;
    }

    .section-dots-wrap {
      bottom: 15%;
      right: 15%;
      transform: none;
      left: auto;
    }
  }
}
