@import "../../Static/index";

#bee-games-project-page {
  #footer {
    .section-container {
      padding-top: 100px;
    }
  }
}

#bee-games-main {
  background-color: #1e1e1e;

  .section-title {
    color: $bee-game-accent;
  }

  .section-background {
    z-index: 0;
  }
  
  .main-bg {
    img {
      object-fit: cover;
      object-position: top left;
    }
  }
  
  .main-image {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
}

#bee-games-design-story {
  background-color: #1e1e1e;
  
  .section-title, .section-desc {
    color: #fff;
  }
  
  .section-title {
    margin-bottom: 50px;
  }
  
  .section-image-wrap {
    width: 100%;
    max-width: 270px;
    margin: 0 auto 50px;
  }
}

#bee-games-result {
  .section-wrapper {
    padding-bottom: 120px;
  }
  
  .section-line {
    height: 30px;
    width: 85%;
  }
  
  .result-color-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .result-color-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &:first-child {
      transform: translateX(70px);
    }
    
    &:last-child {
      transform: translateY(-30px);
    }
  }
  
  .hexagon {
    width: 130px;
  }
  
  .result-color-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    
    span {
      color: #12171e;
      font-family: $museo-100;
      font-size: 10px;
      letter-spacing: 0.28px;
      margin-bottom: 15px;
      
      &:last-child {
        margin-bottom: 0;
      }
      
      &.text-color {
        font-family: $museo-300;
      }
    }
  }
  
  .font-example {
    width: 100%;
    max-width: 230px;
    margin: 0 auto;
  }
  
  .font-text {
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle {
    width: 9px;
    height: 9px;
    border: 1px solid #d6d6d6;
    border-radius: 100%;
  }
  
  .line {
    width: 1px;
    height: 85px;
    background-color: #d6d6d6;
  }
  
  .font-name {
    color: #d6d6d6;
    font-family: $museo-500;
    font-size: 24px;
    letter-spacing: 0.68px;
  }

  .honeycomb-image {
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: 240px;
  }
}

#bee-games-devices {
  background-color: #1e1e1e;
  overflow: visible;

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nintendo-image {
    width: 100%;
    transform: translateY(-35px);
    margin-bottom: 90px;
  }

  .desktop-image {
    width: 100%;
    transform: translateY(15px);
  }
}

#bee-games-homepage {
  .section-wrapper {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .site-image {
    margin-bottom: 30px;
  }

  .examples-image {
    width: 485px;
    position: relative;
    left: 50%;
    margin-bottom: -75px;
    transform: translate(-50%, 0);
  }
}

#bee-games-last {
  background-color: #1e1e1e;
  overflow: visible;

  .section-wrapper {
    padding-top: 75px;
    padding-bottom: 0;
  }

  .section-desc {
      color: #fff;
  }

  .section-image-wrap {
    margin-bottom: 60px;
  }
}

@include media-breakpoint-up('md') {
  #bee-games-main {
    .main-image {
      max-width: 80%;
    }
  }

  #bee-games-result {
    .result-info-wrap {
      margin: 0 auto 0 0;
      max-width: 368px;
    }

    .grid-item-font-example {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .font-example {
      margin: 0 30px 0;
      width: 230px;
    }

    .font-text {
      flex-direction: row;
      align-items: center;
    }

    .line-wrap {
      flex-direction: row;
    }

    .line {
      width: 180px;
      height: 1px;
    }

    .font-name {
      margin-left: 35px;
    }

    .honeycomb-image {
      width: 350px;
    }
  }

  #bee-games-devices {
    .nintendo-image {
      transform: translateY(-190px);
      margin-bottom: 0;
    }

    .desktop-image {
      margin-top: -170px;
      transform: translateY(30px);
    }
  }

  #bee-games-homepage {
    .honeycomb-image {
      position: absolute;
      top: -40px;
      right: -40px;
      width: 350px;
    }

    .grid-item-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .section-image-wrap {
      margin-bottom: 0;
    }

    .line-wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .section-line {
      left: 0;
      right: auto;
      height: 30px;
    }

    .hex-small {
      position: absolute;
      top: -30px;
      bottom: 0;
      right: 10%;
      width: 54px;
      height: 30px;
      transform: translateX(25px);
    }

    .examples-image {
      width: 100%;
      z-index: 1;
      height: 100vh;
      transform: translate(-50%, 40px);
  
      img {
        object-fit: contain;
      }
    }
  }

  #bee-games-last {
    padding-top: 60px;

    .section-wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-desc {
      position: absolute;
      top: 25px;
      left: 0;
      right: 0;
      max-width: 750px;
      margin: 0 auto;
      z-index: 1;
    }

    .section-image-wrap {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up('lg') {
  #bee-games-homepage {
    .section-line {
      height: 60px;
    }

    .hex-small {
      top: -60px;
      height: 60px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #bee-games-project-page {
    #footer {
      .section-container {
        padding-top: 0;
      }
    }
  }

  #bee-games-main {
    .main-image {
      bottom: auto;
      top: 100px;
      max-width: 840px;
    }
  }

  #bee-games-design-story {
    .section-wrapper {
      padding-left: 0;
      padding-right: 0;
    }

    .section-image-wrap {
      max-width: 430px;
      margin: 40px 0 40px auto;
    }
  }

  #bee-games-result {
    .section-wrapper {
      padding-bottom: 200px;
    }

    .section-line {
      height: 60px;
    }

    .result-info-wrap {
      max-width: 445px;
    }

    .result-color-info {
      margin-left: 35px;

      span {
        font-size: 14px;
        letter-spacing: 0.39px;
      }
    }

    .honeycomb-image {
      bottom: -90px;
      width: auto;
    }
  }

  #bee-games-devices {
    .nintendo-image {
      transform: translateY(-230px);
    }
  }

  #bee-games-homepage {
    .section-wrapper {
      max-width: 100%;
    }

    .MuiGrid-container {
      max-width: 1100px;
      margin: 0 auto;
    }

    .honeycomb-image {
      width: auto;
      top: -80px;
    }

    .site-image {
      position: relative;
      width: 960px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    .section-line {
      bottom: 30px;
    }

    .hex-small {
      top: -90px;
    }
  }

  #bee-games-last {
    padding-top: 0;

    .section-desc {
      top: 50px;
    }
  }
}
