@import "../../Static/index";

#bessarabskiy-project-page {
  .nav-link span {
    color: #fff;
  }

  .bottom-text {
    color: #fff;
  }
}

#bessarabskiy-brief {
  background-color: #38261a;

  .section-title, .section-desc {
    color: #fff;
  }

  .section-wrapper {
    padding-bottom: 0;
  }

  .section-desc {
    margin-bottom: 50px;
  }

  .brief-images-wrap {
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      max-width: 350px;
      margin: 0 auto 50px;
    }
  }

  .brief-row-wrap {
    position: relative;
    display: flex;
    align-items: flex-start;

    &.barrel-wrap {
      span {
        margin-top: 35px;
        margin-left: 25px;
      }
    }

    &.grape-wrap {
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -190px;

      span {
        margin-bottom: 20px;
        transform: translateX(45px);
      }
    }

    span {
      color: #f3ece0;
      font-family: $museo-300;
      font-size: 24px;
      letter-spacing: 0.68px;
      line-height: 29px;
    }
  }

  .barrel-image {
    width: 170px;
  }

  .grape-image {
    width: 210px;
  }

  .brief-grid-item {
    @include media-breakpoint-up(lg) {
      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        padding-left: 15px;
      }
    }
  }

  .logo-brief-wrap {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;

    &:last-child {
      margin-bottom: -40px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;

      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        margin-bottom: 0;
        padding-left: 15px;
      }
    }
  }

  .logo-wrapper {
    padding-left: 45px;
    padding-right: 45px;

    @include media-breakpoint-up(md) {
      margin: 0 auto;
      max-width: 600px;
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
      max-width: 100%;
      margin: 0 auto 0 0;
    }
  }

  .logo-wrap {
    border: 2px solid #f3ece0;
    background-color: #ffffff;
    padding: 0;
    width: 100%;
    max-width: 280px;
    height: 285px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-image-wrapper {
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
    }
  }

  .logo-var-container {
    @include media-breakpoint-up(lg) {
      margin-bottom: -50px;
    }
  }
}

#bessarabskiy-logo {
  overflow: hidden;

  .section-wrapper {
    padding-top: 130px;
    padding-bottom: 40px;
  }

  .section-dots-wrap {
    position: absolute;
    width: 340px;
    height: 340px;
    top: -70%;
    left: -100px;
  }

  .section-image-wrap {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

#bessarabskiy-colors-and-fonts {
  .section-wrapper {
    padding-bottom: 0;
  }

  .section-desc {
    max-width: 250px;
    margin-bottom: 45px;

    @include media-breakpoint-up(lg) {
      max-width: 335px;
      margin-bottom: 55px;
    }
  }

  .content-wrap {
    .section-desc {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      margin: 0 auto 40px;
    }
  }

  .font-example {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 50px;
    opacity: 0.2;
    color: #12171e;
    font-family: $copperplate-bold;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.33px;
    line-height: 40px;
    text-transform: uppercase;
  }

  .font-info {
    margin-bottom: 0;
  }

  .font-name-row {
    margin-bottom: 15px;
  }

  .font-example-title {
    opacity: 0.4;
    color: #12171e;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 0.24px;
    font-family: $museo-500;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
      letter-spacing: 0.3px;
    }
  }

  .font-name {
    font-size: 22px;
    letter-spacing: 0.3px;
    font-family: $museo-700;

    @include media-breakpoint-up(lg) {
      font-size: 26px;
    }
  }

  .font-weight {
    font-size: 16px;
    letter-spacing: 0.3px;
    font-family: $museo-500;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }
}

#bessarabskiy-branding {
  .section-wrapper {
    padding-bottom: 10px;
  }

  .section-slider-wrap {
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  .slide-wrap {
    height: 330px;
  }

  .slide-image-wrap {
    img {
      object-fit: cover;
    }
  }

  .slick-dots {
    margin-top: 30px;
  }
}

#bessarabskiy-other {
  .section-wrapper {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .project-info-wrap {
    padding: 25px 0;

    p {
      width: 100%;
      max-width: 215px;
      margin: 0 auto;
    }
  }
}

#bessarabskiy-about-site {
  .about-site-wrapper {
    z-index: 1;
    padding-bottom: 0;

    .section-desc {
      margin-bottom: 0;
    }

    .section-dots-wrap {
      top: 0;
      right: -100px;
      transform: translateY(-50%);

      @include media-breakpoint-up(lg) {
        right: 0;
        transform: none;
      }
    }
  }

  .adaptation-wrapper {
    z-index: 2;
    position: relative;

    @include media-breakpoint-up(lg) {
      margin: 0 auto;
      max-width: 1140px;
      padding-bottom: 230px;
    }
  }

  .pages-wrapper {
    z-index: 1;
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }

    &:after {
      left: 0;
      right: 0;
      bottom: 0;
      top: -120px;
      z-index: -1;
      content: '';
      position: absolute;
      background-color: #38261a;
      height: calc(100vh + 120px);

      @include media-breakpoint-up(lg) {
        left: 50%;
        top: -600px;
        width: 100vw;
        height: 1000px;
        transform: translateX(-50%);
      }
    }

    .section-dots-wrap {
      top: 0;
      left: 0;
      z-index: 0;

      @include media-breakpoint-up(lg) {
        top: auto;
        bottom: 275px;
      }
    }
  }

  .pages-images-wrapper {
    position: relative;

    @include media-breakpoint-up(lg) {
      margin-top: -35%;
    }
  }

  .tomato-image {
    top: 0;
    z-index: 1;
    right: 30px;
    width: 65px;
    height: 84px;
    position: absolute;

    @include media-breakpoint-up(lg) {
      width: 160px;
      right: -25px;
      height: 200px;
      transform: translateY(-50%);
    }
  }

  .computer-image {
    margin-top: 25px;
  }

  .grape-image {
    top: -40px;
    left: 15px;
    z-index: 1;
    width: 200px;
    height: 180px;
    position: absolute;

    @include media-breakpoint-up(lg) {
      top: -320px;
      left: -75px;
      width: 455px;
      height: 410px;
    }
  }

  .broccoli-image {
    top: 20px;
    z-index: 1;
    left: 15px;
    width: 88px;
    height: 100px;
    position: absolute;

    @include media-breakpoint-up(lg) {
      top: auto;
      left: 45px;
      width: 165px;
      bottom: 390px;
      height: 190px;
    }
  }

  .screen-page-1 {
    z-index: 1;
    position: relative;
    transform: translateX(calc(50% - 30px));

    @include media-breakpoint-up(lg) {
      margin-right: 0;
      max-width: 650px;
      margin-left: auto;
      transform: translateX(calc(50% - 60px));
    }
  }

  .screen-page-2 {
    left: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;

    @include media-breakpoint-up(lg) {
      left: auto;
      bottom: 70px;
      right: 240px;
    }
  }
}

#bessarabskiy-home-page {
  z-index: 6;
  position: relative;

  .section-dots-wrap {
    right: 0;
    bottom: 0;
    width: 480px;
    height: 480px;
    transform: translateY(50%);
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 30px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 350px;
    }
  }

  .screen-page-wrap {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .screen-image {
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
      max-width: 635px;
      margin-bottom: 0;
    }

    img {
      object-fit: contain;
    }
  }

  .screen-desc-wrap {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      padding-left: 125px;
    }
  }

  .screen-name {
    font-size: 24px;
    line-height: 29px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.68px;
    font-family: $museo-500;

    @include media-breakpoint-up(lg) {
      font-size: 40px;
      padding-bottom: 0;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }

    &:after {
      left: 0;
      bottom: 0;
      height: 1px;
      content: '';
      width: 75px ;
      position: absolute;
      background-color: #b78150;

      @include media-breakpoint-up(lg) {
        top: 10px;
        height: 2px;
        width: 100px;
        bottom: auto;
        left: -145px;
      }
    }
  }

  .screen-desc {
    margin-bottom: 0;
    letter-spacing: 0.3px;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.3px;
    }
  }

  .pepper-image {
    left: 15px;
    z-index: 1;
    width: 114px;
    height: 112px;
    bottom: -65px;
    position: absolute;

    @include media-breakpoint-up(lg) {
      left: auto;
      right: 100px;
      width: 400px;
      height: 320px;
      bottom: 215px;
    }
  }
}

#bessarabskiy-news {
  z-index: 2;
  background-color: #382a1d;

  .macBook-image {
    padding-top: 100px;
    position: relative;
    z-index: 1;
  }

  .grape-image {
    position: absolute;
    top: 25px;
    right: 0;
    transform: translateX(50%);
    width: 310px;
    z-index: 0;
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-title, .section-desc {
    color: #fff;
  }

  .news-page-image {
    width: 100%;
    margin-bottom: -55px;
  }

  .pepper-image-bottom {
    position: absolute;
    bottom: -110px;
    right: 0;
    width: 140px;
  }
}

#bessarabskiy-icons {
  .section-wrapper {
    padding-top: 95px;
    padding-bottom: 0;
  }

  .grid-item-icons {
    margin-bottom: 75px;
  }

  .section-image-wrap {
    width: 55px;
    height: 55px;
    margin: 0 auto;
  }
}

#bessarabskiy-fonts {
  .section-wrapper {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .font-example {
    opacity: 0.2;
    color: #12171e;
    line-height: 30px;
    margin-bottom: 30px;

    &.semi-bold {
      font-family: $montserrat;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.45px;
    }

    &.regular {
      font-family: $montserrat;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.51px;
    }
  }

  .content-wrap {
    margin-bottom: 0;

    .section-desc {
      margin-bottom: 0;
    }

    p {
      opacity: 1;
      font-size: 20px;
      letter-spacing: 0.56px;
      line-height: 29px;
    }
  }
}

#bessarabskiy-mobile {
  .section-dots-wrap {
    position: absolute;
    top: 120px;
    right: -100px;
    width: 340px;
    height: 340px;
    z-index: -1;
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .site-pages-image {
    width: 100%;
  }

  .bottom-wrapper {
    position: relative;
    background-color: #38261a;
    padding: 20px 0;
  }

  .iphone-image {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 1;
  }

  .shape-image {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 160px;
    transform: translateY(-50%);
    z-index: 0;
  }
}

@include media-breakpoint-up('lg') {
  #bessarabskiy-colors-and-fonts {
    .section-wrapper {
      padding-bottom: 80px;
    }

    .font-grid-container {
      margin-top: 100px;
    }

    .font-example {
      max-width: 260px;
      margin-bottom: 0;
    }

    .font-info {
      margin: 0 auto 0 0;
      padding: 55px 0;
    }
  }

  #bessarabskiy-branding {
    .section-wrapper {
      padding-bottom: 40px;
    }

    .grid-item {
      &:first-child {
        padding-right: 30px;
      }

      &:last-child {
        padding-left: 30px;
      }

      .MuiGrid-item {
        display: flex;
        justify-content: flex-end;
      }
    }

    .section-dots-wrap {
      width: 420px;
      height: 420px;
      position: absolute;
      top: 0;
      right: 25px;
      z-index: -1;
    }

    .section-desc {
      margin-bottom: 0;
    }

    .section-slider-wrap {
      position: relative;
      z-index: 6;
      margin-bottom: 0;
    }

    .slide-wrap {
      height: 550px;
    }
  }

  #bessarabskiy-other {
    .section-wrapper {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .section-dots-wrap {
      width: 420px;
      height: 420px;
      position: absolute;
      top: 0;
      right: 25px;
      z-index: -1;
    }

    .section-image-wrap {
      position: relative;
      z-index: 6;
      margin-bottom: 0;
    }

    .project-info-wrap {
      margin: 0 auto 0 0;
    }

    .section-desc {
      margin-bottom: 0;
    }
  }

  #bessarabskiy-news {
    z-index: 6;

    .macBook-image {
      padding-top: 0;
      transform: translateY(-20%);
    }

    .grape-image {
      right: 0;
      width: 430px;
      top: 65px;
      transform: none;
    }

    .section-wrapper {
      margin-top: -170px;
    }

    .pepper-image-bottom {
      bottom: -65%;
      right: auto;
      width: 200px;
      left: 65px;
    }
  }

  #bessarabskiy-icons {
    .section-wrapper {
      padding-top: 180px;
      padding-bottom: 75px;
    }

    .section-title {
      text-align: center;
      margin-bottom: 20px;
    }

    .section-desc {
      width: 100%;
      font-size: 14px;
      max-width: 510px;
      line-height: 26px;
      text-align: center;
      margin: 0 auto 55px;
      letter-spacing: 0.3px;
    }

    .grid-container-icons {
      margin: 0 auto;
      max-width: 742px;
    }
  }

  #bessarabskiy-fonts {
    .section-wrapper {
      padding-bottom: 150px;
    }

    .font-example {
      margin-bottom: 0;
    }

    .fonts-row {
      flex-direction: row-reverse;
    }

    .fonts-row-inner {
      display: flex;
      align-items: center;
    }
  }

  #bessarabskiy-mobile {
    .section-desc {
      max-width: 50%;
      margin-bottom: 55px;
    }

    .section-dots-wrap {
      top: 0;
      right: 15px;
    }

    .bottom-wrapper {
      padding: 0;
    }

    .iphone-image {
      width: 100%;
      transform: translateY(-10%);
    }

    .shape-image {
      width: 405px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #bessarabskiy-brief {
    .section-wrapper {
      padding-top: 75px;
    }

    .brief-grid-item {
      &:last-child {
        margin-top: 110px;

        .section-title {
          font-size: 32px;
          letter-spacing: 1px;
          margin-bottom: 12px;
          font-family: $museo-500;
        }
      }
    }

    .main-desc {
      color: #f3ece0;
      font-size: 16px;
      max-width: 435px;
      line-height: 26px;
      margin-bottom: 85px;
      letter-spacing: 0.3px;
    }

    .version-desc {
      color: #f3ece0;
      font-size: 16px;
      line-height: 26px;
      font-style: normal;
      margin-bottom: 65px;
      letter-spacing: 0.3px;
    }

    .brief-images-wrap {
      max-width: 100%;
      margin-bottom: 75px;
    }

    .brief-row-wrap {
      &.barrel-wrap {
        span {
          margin-top: 25px;
          margin-left: 15px;
        }
      }

      &.grape-wrap {
        margin-top: -55%;

        span {
          margin-bottom: 0;
          transform: translate(65px, 0);
        }
      }
    }

    .version-title, .brief-row-wrap span {
      color: #f3ece0;
      font-size: 26px;
      line-height: normal;
      margin-bottom: 20px;
      text-transform: none;
      letter-spacing: 0.5px;
      font-family: $museo-300;
    }

    .logo-wrap {
      margin: 0 auto 0 0;
    }

    .barrel-image {
      width: 228px;
    }

    .grape-image {
      width: 285px;
    }
  }

  #bessarabskiy-logo {
    .section-dots-wrap {
      width: 540px;
      height: 540px;
      top: -390px;
    }

    .section-wrapper {
      padding-top: 220px;
      padding-bottom: 100px;
    }

    .section-image-wrap {
      max-width: 710px;
    }
  }

  #bessarabskiy-colors-and-fonts {
    .section-wrapper {
      padding-top: 100px;
      padding-bottom: 120px;
    }

    .section-title {
      margin-bottom: 20px;
    }

    .font-info {
      p {
        max-width: 270px;

        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }

  #bessarabskiy-branding {
    .section-wrapper {
      padding-top: 0;
      padding-bottom: 60px;
    }

    .section-dots-wrap {
      width: 540px;
      height: 540px;
      right: 25px;
    }

    .section-slider-wrap {
      padding-bottom: 80px;
    }

    .slide-wrap {
      height: 800px;
    }

    .slick-dots {
      margin-top: 65px;
    }
  }

  #bessarabskiy-other {
    .section-wrapper {
      padding-top: 0;
      padding-bottom: 55px;
    }

    .section-dots-wrap {
      width: 540px;
      height: 540px;
      right: 25px;
    }

    .section-title {
      margin-bottom: 20px;
    }

    .project-info-wrap {
      padding: 40px 0;

      p {
        max-width: 300px;
      }
    }

    .section-image-wrap {
      height: 900px;

      img {
        object-fit: cover;
      }
    }
  }

  #bessarabskiy-news {
    .macBook-image {
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
    }

    .news-page-image {
      margin-bottom: -25%;
    }

    .pepper-image-bottom {
      width: 315px;
      bottom: -100%;
    }
  }

  #bessarabskiy-icons {
    .section-wrapper {
      padding-top: 310px;
    }
  }

  #bessarabskiy-fonts {
    .section-wrapper {
      padding-bottom: 230px;
    }

    .project-info-wrap {
      padding: 40px 0;
    }

    .font-example {
      font-size: 25px !important;
      letter-spacing: 0.7px !important;
    }
  }

  #bessarabskiy-mobile {
    .section-wrapper {
      padding-bottom: 80px;
    }

    .section-dots-wrap {
      width: 540px;
      height: 540px;
      right: -105px;
    }

    .iphone-image {
      max-width: 1140px;
      transform: translateY(-15%);
    }
  }
}
