@import "../../Static/index";

#manticore-main {
  background-color: #2c3160;

  .section-wrapper {
    align-items: unset;
    padding-top: 15px;
  }

  .section-title {
    color: $accent-main;
  }

  .main-statue {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(15%);
    height: 480px;

    img {
      object-fit: contain;
      object-position: right bottom;
    }
  }
}

#manticore-why {
  background-color: #040d15;
  padding-bottom: 23px;

  .section-desc {
    margin-bottom: 0;
  }

  .section-image-wrap {
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 20px;
    }
  }

  .image-text {
    order: 1;
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    opacity: 0.44;
    color: #fff;
    font-family: $museo-300;
    font-size: 12px;
    line-height: 18px;
  }
}

#manticore-about-name {
  .section-wrapper {
    padding-top: 60px;
  }

  .sub-title {
    margin-bottom: 10px;
    opacity: 0.3;
    color: #000;
    font-family: $museo-700;
    font-size: 14px;
    letter-spacing: 0.39px;
    text-transform: uppercase;
  }

  .section-title {
    span {
      color: $accent-main;
    }
  }

  .about-name-image {
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    margin-bottom: 40px;
  }

  .name-container {
    display: flex;
    margin-bottom: 30px;
  }

  .left-part, .right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-part {
    margin-right: 60px;
  }

  .name-title {
    color: #000000;
    font-family: $museo-500;
    font-size: 30px;
    margin-bottom: 0;
  }

  .text-desc {
    opacity: 0.4;
    color: #000000;
    font-family: $museo-300;
    font-size: 14px;
  }

  .about-name-desc {
    opacity: 0.9;
    color: #000000;
    font-family: $museo-500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

#manticore-simply-word {
  background-color: $accent-black;

  .section-wrapper {
    padding-bottom: 0;
  }

  .sub-title {
    opacity: 0.6;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.39px;
    margin-bottom: 0;
    text-align: center;
  }

  .section-title {
    text-align: center;
  }

  .slide-img-container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }

  .img-container {
    margin-bottom: 40px;
  }

  .slide-img {
    margin-bottom: 15px;
  }

  .slide-desc {
    color: #ffffff;
    font-family: $museo-500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .slick-dots {
    margin-top: 0;
  }

  .manticore-image__wrapper {
    margin-bottom: 40px;
  }

  .section-image-wrap {
    margin-bottom: 15px;
  }

  .manticore-image__desc {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;
  }
}

#about-projects-section {
  .grid-container {
    .grid-item {
      &:first-child {
        order: 1;
        margin-bottom: 30px;
      }

      &:last-child {
        margin-bottom: 45px;
      }
    }
  }

  .about-projects-services {
    .col-6 {
      &:last-child, &:nth-last-child(2) {
        .text-with-dot {
          margin-bottom: 0;
        }
      }
    }
  }
}

#manticore-developing__logo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .developing-logo__step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    margin-bottom: 15px;
    span {
      color: #d9255e;
    }
  }

  .section-desc {
    font-size: 24px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
    font-family: "Museo Sans Cyrl 500";
    margin-bottom: 35px;
  }

  .section-image-wrap {
    max-width: 315px;
  }
}

@include media-breakpoint-up('lg') {
  #manticore-main {
    .section-wrapper {
      background-color: rgba(44, 49, 96, 0.6);
      padding-top: 20px;
      align-items: center;
    }

    .section-desc {
      margin-bottom: 0;
    }

    .main-statue {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      transform: none;
      display: flex;
      justify-content: center;

      canvas {
        display: block;
      }
    }
  }

  #about-projects-section {
    overflow: hidden;

    .grid-container {
      margin-bottom: 97px;

      .grid-item {
        &:first-child {
          order: unset;
          margin-bottom: unset;
        }

        &:last-child {
          margin-bottom: unset;
        }
      }
    }
  }

  #manticore-why {
    padding-bottom: 0;
    .section-wrapper {
      padding-top: 165px;
      padding-bottom: 158px;
    }

    .section-desc {
      max-width: 517px;
    }

    .section-image-wrap {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: row;

      img {
        width: auto;
        object-fit: contain;
        height: 451px;
        margin-bottom: 0;
      }
    }

    .image-text {
      position: absolute;
      max-width: 169px;
      top: 50%;
      transform: translateY(-50%);
      right: 36px;
      bottom: unset;
      left: unset;
    }
  }

  #manticore-about-name {
   .section-wrapper {
     max-width: 760px;
     padding-top: 120px;
   }

    .sub-title {
      font-size: 32px;
      font-style: normal;
      letter-spacing: 0.9px;
      line-height: normal;
    }

    .section-image-wrap {
      left: 0;
      width: 100%;
    }
  }

  #manticore-simply-word  {
    .section-desc {
      font-size: 32px;
      margin-bottom: 10px;
    }

    .section-wrapper {
      padding-top: 80px;
      padding-bottom: 65px;
    }

    .manticore-images {
      display: flex;
      justify-content: space-between;
    }

    .manticore-image__wrapper {
      flex-basis: 43%;
      margin-bottom: 0;
    }

    .section-image-wrap {
      margin-bottom: 30px;
    }

    .manticore-image__desc {
      font-size: 20px;
      line-height: 26px;
    }
  }

  #manticore-developing__logo {
    overflow: hidden;
    .section-wrapper {
      max-width: unset;
      padding: 0;
      position: relative;
      height: 100vh;
      overflow: scroll;
    }

    .wh-wrap {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      width: 100vw;
    }

    .horizontal-scroll {
      width: fit-content;
      background-color: #fff;
      overflow: scroll;
      position: sticky;
      top: 0;
      height: 100vh;
    }

    .horizontal-scroll__container {
      display: flex;
      width: fit-content;
      transition: transform .1s linear;
      will-change: transform;
    }

    .developing-logo__step {
      width: 100vw;
      height: 100vh;
      justify-content: center;
    }

    .section-desc {
      max-width: 730px;
    }
  }
}
