@import "../../Static/index";

#pride-group-main {
  .section-background {
    left: -75px;
    width: 940px;

    img {
      object-fit: cover;
      object-position: left center;
    }
  }

  .main-logo {
    width: 100%;
    max-width: 280px;
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
  }
}

#logo-demonstration {
  .section-wrapper {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .section-image-wrap {
    width: 100%;
  }

  .section-dots-wrap {
    position: absolute;
    bottom: -100px;
    left: -70px;
    width: 160px;
    height: 160px;
  }
}

#pride-group-philosophy {
  padding-bottom: 45px;

  .section-wrapper {
    padding-top: 50px;
    padding-bottom: 0;
    z-index: 1;
  }

  .section-desc {
    margin-bottom: 30px;
  }

  .landscape-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 45px;
    z-index: 0;

    img {
      object-fit: cover;
      object-position: center center;
    }
  }

  .lion-image {
    position: relative;
    z-index: 1;
    transform: translateY(45px);
  }
}

#pride-group-colors {
  .section-wrapper {
    padding-bottom: 0;
  }

  .color-grid-container {
    margin-bottom: 50px;
  }

  .color-grid-item {
    display: flex;
    align-items: center;

    &:nth-child(even) {
      flex-direction: row-reverse;

      .colors-info-wrap {
        margin-left: 0;
        margin-right: 35px;
        align-items: flex-end;
      }
    }
  }

  .triangle-top {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    margin-bottom: 10px;

    &.graphite {
      border-bottom: 110px solid #333;
    }

    &.darkgray {
      border-bottom: 110px solid #585857;
    }

    &.lightgray {
      border-bottom: 110px solid #c4c4c4;
    }
  }

  .triangle-bottom {
    position: relative;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 110px solid #979797;

    &:after {
      content: "";
      position: absolute;
      top: -109px;
      width: 0;
      height: 0;
      left: -69px;
      border-left: 69px solid transparent;
      border-right: 69px solid transparent;
      border-top: 109px solid #fff;
    }
  }

  .colors-info-wrap {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
  }

  .color-text {
    color: #12171e;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-family: $museo-100;

    &.color-name {
      color: #231f20;
      font-size: 20px;
      letter-spacing: 0.56px;
      line-height: 29px;
      font-family: $museo-300;
    }

    &.color-number {
      color: #231f20;
      font-family: $museo-300;
      margin-bottom: 30px;
    }
  }

  .font-example {
    &.font-first {
      font-family: $proxima-100;
    }

    &.font-second {
      font-family: $proxima-400;
    }
  }
}

#pride-group-branding {
  .section-wrapper {
    position: unset;
    padding-top: 40px;
    padding-bottom: 45px;
    background-color: #080a08;
  }

  .branding-wrap {
    position: relative;
  }

  .section-image-wrap {
    position: relative;
    width: 925px;
    left: -200px;
  }

  .section-title {
    position: absolute;
    top: 25px;
    right: 15px;
    margin-bottom: 0;
    color: #fff;
    z-index: 1;
  }

  .section-desc {
    color: #fff;
  }

  .section-slider-wrap {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .slide-image-wrap {
    img {
      position: relative;
      left: 25%
    }
  }
}

#pride-group-branding-elements {
  .section-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .section-desc {
    margin-bottom: 50px;
  }

  .section-image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    img {
      object-fit: cover;
    }
  }
}

#pride-group-symbol {
  .symbol-logo {
    max-width: 400px;
    margin: 0 auto 40px;
  }

  .section-bg {
    width: 100%;
    height: 420px;

    img {
      object-fit: cover;
      object-position: center bottom;
    }
  }

  .bottom-navigation {
    bottom: 15px;
  }

  .nav-link {
    span {
      color: #262626;
    }
  }
}

@include media-breakpoint-up('md') {
  #pride-group-main {
    .main-logo {
      bottom: auto;
      max-width: 400px;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .section-background {
      left: 0;
      width: 100%;
    }
  }

  #logo-demonstration {
    .section-dots-wrap {
      bottom: -200px;
      left: -150px;
      width: 360px;
      height: 360px;
    }
  }

  #pride-group-branding {
    .section-image-wrap {
      width: 100%;
      left: 0;
    }

    .section-wrapper {
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      top: 50%;
      right: 0;
      width: 50%;
      transform: translateY(-50%);
      background-color: transparent;
    }

    .section-title {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 40px;
    }

    .slide-wrap {
      height: 560px;
    }

    .slide-image-wrap {
      img {
        height: auto;
      }
    }
  }

  #pride-group-branding-elements {
    .text {
      font-family: $museo-300;
    }
  }
}

@include media-breakpoint-up('lg') {
  #logo-demonstration {
    .section-image-wrap {
      max-width: 800px;
      margin: 0 auto;
    }

    .section-dots-wrap {
      width: 420px;
      height: 420px;
      left: -15px;
      bottom: -60%;
    }
  }

  #pride-group-philosophy {
    padding-bottom: 80px;

    .lion-image {
      transform: none;
      margin-bottom: -80px;
    }
  }

  #pride-group-colors {
    .section-wrapper {
      padding-bottom: 60px;
    }

    .color-grid-container {
      margin-bottom: 160px;
    }

    .color-grid-item {
      &:nth-child(odd) {
        transform: translateY(80px);
      }

      &:nth-child(even) {
        flex-direction: row;

        .colors-info-wrap {
          margin-left: 35px;
          margin-right: 0;
          align-items: flex-start;
        }
      }
    }
  }

  #pride-group-branding {
    .section-slider-wrap {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .slide-wrap {
      height: 760px;
    }
  }

  #pride-group-symbol {
    .section-wrapper {
      padding-top: 200px;
      padding-bottom: 200px;
      overflow: hidden;
    }

    .symbol-logo {
      margin-bottom: 0;
    }

    .section-dots-wrap {
      position: absolute;
      bottom: -40%;
      right: 40px;
      width: 420px;
      height: 420px;
    }

    .bottom-navigation {
      bottom: 20px;
    }

    .section-bg {
      height: auto;
    }
  }
}

@include media-breakpoint-up('xl') {
  #pride-group-project-page {
    #about {
      overflow: visible;

      .section-wrapper {
        padding-bottom: 110px;
      }
    }
  }

  #logo-demonstration {
    .section-wrapper {
      padding-top: 0;
    }

    .section-dots-wrap {
      width: auto;
      height: auto;
      bottom: -70%;
    }
  }

  #pride-group-colors {
    .section-wrapper {
      padding-bottom: 130px;
    }

    .color-grid-container {
      margin-bottom: 270px;
    }
  }

  #pride-group-branding {
    .section-image-wrap {
      height: 800px;
      object-fit: cover;
      object-position: center top;
    }

    .section-wrapper {
      width: 100%;
      max-width: 1100px;
      left: 0;
    }

    .branding-wrap {
      .section-title, .section-desc {
        width: 100%;
        max-width: 445px;
        margin: 0 0 0 auto;
      }

      .section-title {
        margin-bottom: 40px;
      }
    }

    .slick-dots {
      margin-top: 0;
    }

    .slide-wrap {
      height: 650px;
    }

    .slide-image-wrap {
      img {
        left: 30%;
        max-width: 900px;
      }
    }
  }

  #pride-group-branding-elements {
    .section-wrapper {
      padding: 150px 0;
    }

    .text-grid-item {
      display: flex;
      justify-content: flex-end;
    }
  }

  #pride-group-symbol {
    .bottom-navigation {
      bottom: 0;
    }

    .bottom-text {
      color: #262626;
    }

    .scroll-box {
      border-color: #262626;

      span {
        background-color: #262626;
      }
    }
  }
}
