@import "../../Static/index";

#pride-group-main {
  .section-background {
    left: -75px;
    width: 940px;

    @include media-breakpoint-up('md') {
      left: 0;
      width: 100%;
    }

    img {
      object-fit: cover;
      object-position: left center;
    }
  }

  .main-logo {
    left: 50%;
    width: 100%;
    bottom: 160px;
    max-width: 280px;
    position: absolute;
    transform: translateX(-50%);

    @include media-breakpoint-up('md') {
      top: 50%;
      bottom: auto;
      max-width: 400px;
      transform: translate(-50%, -50%);
    }
  }
}

#logo-demonstration {
  .section-wrapper {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .section-image-wrap {
    width: 100%;

    @include media-breakpoint-up('lg') {
      margin: 0 auto;
      max-width: 800px;
    }
  }

  .section-dots-wrap {
    left: -70px;
    width: 160px;
    height: 160px;
    bottom: -100px;
    position: absolute;

    @include media-breakpoint-up('md') {
      left: -150px;
      width: 360px;
      height: 360px;
      bottom: -200px;
    }

    @include media-breakpoint-up('lg') {
      left: -15px;
      bottom: -60%;
      width: 420px;
      height: 420px;
    }

    @include media-breakpoint-up('xl') {
      width: auto;
      height: auto;
      bottom: -70%;
    }
  }
}

#pride-group-philosophy {
  padding-bottom: 45px;

  @include media-breakpoint-up('lg') {
    padding-bottom: 80px;
  }

  .section-wrapper {
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .section-desc {
    margin-bottom: 30px;
  }

  .landscape-image {
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    bottom: 45px;
    position: absolute;

    img {
      object-fit: cover;
      object-position: center center;
    }
  }

  .lion-image {
    z-index: 1;
    position: relative;
    transform: translateY(45px);

    @include media-breakpoint-up('lg') {
      transform: none;
      margin-bottom: -80px;
    }
  }
}

#pride-group-colors {
  .section-wrapper {
    padding-bottom: 0;

    @include media-breakpoint-up('lg') {
      padding-bottom: 60px;
    }

    @include media-breakpoint-up('xl') {
      padding-bottom: 130px;
    }
  }

  .color-grid-container {
    margin-bottom: 50px;

    @include media-breakpoint-up('xl') {
      margin-bottom: 270px;
    }
  }

  .color-grid-item {
    display: flex;
    align-items: center;

    &:nth-child(even) {
      flex-direction: row-reverse;

      .colors-info-wrap {
        margin-left: 0;
        margin-right: 35px;
        align-items: flex-end;
      }
    }

    @include media-breakpoint-up('lg') {
      margin-bottom: 160px;

      &:nth-child(odd) {
        transform: translateY(80px);
      }

      &:nth-child(even) {
        flex-direction: row;

        .colors-info-wrap {
          margin-left: 35px;
          margin-right: 0;
          align-items: flex-start;
        }
      }
    }
  }

  .triangle-top {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    margin-bottom: 10px;

    &.graphite {
      border-bottom: 110px solid #333;
    }

    &.darkgray {
      border-bottom: 110px solid #585857;
    }

    &.lightgray {
      border-bottom: 110px solid #c4c4c4;
    }
  }

  .triangle-bottom {
    width: 0;
    height: 0;
    position: relative;
    border-top: 110px solid #979797;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;

    &:after {
      width: 0;
      height: 0;
      content: "";
      top: -109px;
      left: -69px;
      position: absolute;
      border-top: 109px solid #fff;
      border-left: 69px solid transparent;
      border-right: 69px solid transparent;
    }
  }

  .colors-info-wrap {
    display: flex;
    margin-left: 35px;
    flex-direction: column;
  }

  .color-text {
    color: #12171e;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-family: $museo-100;

    &.color-name {
      color: #231f20;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 0.56px;
      font-family: $museo-300;
    }

    &.color-number {
      color: #231f20;
      margin-bottom: 30px;
      font-family: $museo-300;
    }
  }

  .font-example {
    &.font-first {
      font-family: $proxima-100;
    }

    &.font-second {
      font-family: $proxima-400;
    }
  }
}

#pride-group-branding {
  .section-wrapper {
    position: unset;
    padding-top: 40px;
    padding-bottom: 45px;
    background-color: #080a08;

    @include media-breakpoint-up('md') {
      top: 50%;
      right: 0;
      width: 50%;
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      transform: translateY(-50%);
      background-color: transparent;
    }

    @include media-breakpoint-up('xl') {
      left: 0;
      width: 100%;
      max-width: 1100px;
    }
  }

  .branding-wrap {
    position: relative;

    @include media-breakpoint-up('xl') {
      .section-title, .section-desc {
        width: 100%;
        max-width: 445px;
        margin: 0 0 0 auto;
      }

      .section-title {
        margin-bottom: 40px;
      }
    }
  }

  .section-image-wrap {
    position: relative;
    width: 925px;
    left: -200px;

    @include media-breakpoint-up('lg') {
      left: 0;
      width: 100%;
    }
  }

  .section-title {
    top: 25px;
    z-index: 1;
    right: 15px;
    color: #fff;
    margin-bottom: 0;
    position: absolute;

    @include media-breakpoint-up('md') {
      top: 0;
      right: 0;
      position: relative;
      margin-bottom: 40px;
    }
  }

  .section-desc {
    color: #fff;
  }

  .section-slider-wrap {
    padding-top: 50px;
    padding-bottom: 45px;

    @include media-breakpoint-up('lg') {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .slick-dots {
    @include media-breakpoint-up('xl') {
      margin-top: 0;
    }
  }

  .slide-wrap {
    @include media-breakpoint-up('md') {
      height: 560px;
    }

    @include media-breakpoint-up('lg') {
      height: 760px;
    }

    @include media-breakpoint-up('xl') {
      height: 650px;
    }
  }

  .slide-image-wrap {
    @include media-breakpoint-up('md') {
      left: 0;
      width: 100%;
    }

    @include media-breakpoint-up('xl') {
      height: 800px;
      object-fit: cover;
      object-position: center top;
    }

    img {
      left: 25%;
      position: relative;

      @include media-breakpoint-up('md') {
        height: auto;
      }

      @include media-breakpoint-up('xl') {
        left: 30%;
        max-width: 900px;
      }
    }
  }
}

#pride-group-branding-elements {
  .section-wrapper {
    position: unset;
    padding-top: 50px;
    padding-bottom: 20px;

    @include media-breakpoint-up('xl') {
      padding: 150px 0;
    }
  }

  .section-desc {
    margin-bottom: 50px;
  }

  .section-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;

    img {
      object-fit: cover;
    }
  }

  .symbol-logo {
    max-width: 400px;
    margin: 0 auto 40px;
  }

  .footer-background {
    z-index: 1;
    height: 100vh;
    position: relative;

    img {
      object-fit: cover;
      object-position: bottom;
    }
  }

  .text-grid-item {
    @include media-breakpoint-up('xl') {
      display: flex;
      justify-content: flex-end;
    }
  }
}
