@import "../Static/index";

.custom-btn {
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 10px 0;
  max-width: 100%;
  margin: 0 auto;
  background-color: #1d252c;
  border: none;
  outline: none !important;
  box-shadow: none !important;

  &:hover {
    &:before {
      height: 100%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $accent-main;
    z-index: 0;
    transition: all 1s $timing-func;
  }

  span {
    position: relative;
    color: #d6d7d7;
    font-size: 14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    z-index: 1;
  }
}

@include media-breakpoint-up('xl') {
  .custom-btn {
    span {
      font-size: 18px;
      letter-spacing: 2.06px;
    }
  }
}
