@import "../Static/index";

#footer-section {
  background-color: $accent-black;

  .section-container {
    position: relative;
    padding-top: 60px;
    max-width: 300px;
  }

  .form-wrap {
    margin-bottom: 50px;
  }

  .section-title {
    width: 100%;
    color: $accent-gray;
    font-family: $museo-700;
    font-size: 32px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  .btn-submit {
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    height: 40px;
    width: 100%;
    border-radius: 0;
    border: none;
    padding: 0;


    &:hover {
      &:after {
        height: 100%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $accent-main;
      width: 100%;
      z-index: 1;
      transition: all .7s $timing-func;
    }

    & > span {
      position: relative;
      color: $accent-gray;
      font-family: $museo-300;
      font-size: 14px;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      z-index: 2;
    }
  }

  .col-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-wrap {
    width: 100%;
    max-width: 100%;
  }

  .contact-wrap {
    margin-bottom: 50px;
  }

  .contact-title {
    color: $accent-gray;
    font-family: $museo-700;
    font-size: 20px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .contact-sub-title {
    display: block;
    position: relative;
    color: $accent-gray;
    font-family: $museo-300;
    font-size: 14px;
    letter-spacing: 1.05px;
    margin-bottom: 10px;

    &.with-line {
      display: flex;
      align-items: flex-end;

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #686d72;
      }

      span {
        white-space: nowrap;
      }
    }
  }

  .btn-show-map {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $accent-gray;
    font-family: $museo-500;
    font-size: 10px;
    letter-spacing: 0.75px;

    img {
      width: 21px;
      margin: 0 auto 10px;
    }

    span {
      margin-bottom: 10px;
    }
  }

  .socials-wrap {
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;

    .social-link {
      opacity: 0.3;
      margin-right: 0;
    }
  }

  .copyright-container {
    padding: 15px;
    background-color: #282c32;
    display: flex;
    justify-content: space-between;

    h6 {
      color: $accent-gray;
      font-family: $museo-300;
      font-size: 12px;
      letter-spacing: 0.9px;
    }
  }
}

@include media-breakpoint-up('md') {
  #footer-section {
    min-height: 100vh;

    .section-container {
      padding-top: 60px;
      padding-bottom: 60px;
      max-width: 480px;
    }

    .section-title {
      font-size: 60px;
      letter-spacing: 1.69px;
      margin-bottom: 65px;
    }

    .btn-wrap {
      max-width: 190px;
      margin: 0 auto;
    }

    .contact-title {
      font-size: 24px;
      letter-spacing: 2.75px;
      margin-bottom: 10px;
    }

    .contact-sub-title {
      font-size: 18px;
      letter-spacing: 1.35px;
      margin-bottom: 10px;
    }

    .btn-show-map {
      flex-direction: row-reverse;
      align-items: flex-end;
      font-size: 16px;
      letter-spacing: 1.2px;
      bottom: 3px;
      cursor: pointer;

      img {
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    .socials-wrap {
      transform: none;
      max-width: 100%;
      justify-content: center;
      margin: 0;

      .social-link {
        margin-right: 80px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  #footer-section {
    &.footer-section {
      .section-container {
        max-width: 960px;
        padding-top: 0;
        padding-bottom: 0;
      }

      .form-wrap {
        max-width: 400px;
        margin-bottom: 0;
      }

      .contact-info-wrap {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .contact-wrap {
        max-width: 370px;
        margin-bottom: 40px;
      }

      .socials-wrap {
        margin-top: 50px;
      }
    }

    .container-wrap {
      min-height: 100vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .section-container {
      max-width: 960px;
    }

    .section-title {
      margin-bottom: 25px;
      text-align: left;
    }

    .btn-wrap {
      margin: 0 auto 0 0;
      max-width: 130px;
    }

    .form-wrap {
      margin-bottom: 0;
    }

    .image-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: 60%;
      height: 100%;
      transform: translateX(20%);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right;
      }
    }

    .contact-info-wrap {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .contact-wrap {
      width: 100%;
      max-width: 370px;
      margin-bottom: 0;
    }

    .contact-sub-title {
      &.with-line {
        margin-bottom: 0;
      }
    }

    .btn-show-map {
      span {
        margin-bottom: 3px;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  #footer-section {
    &.footer-section {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      padding: 0;
      background-color: rgba(6, 14, 23, 0.7);
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: all 1s $timing-func;
      z-index: 10;
      will-change: opacity;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .fp-scroller {
        height: 100%;
      }

      .container-wrap {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 0 70px;
        min-height: auto;
        height: auto !important;
        background-color: rgba(4, 13, 21, 0.95);
        will-change: opacity, transform;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 0;
          height: 1px;
          background-color: #fff;
          transition: all 1s $timing-func 0.4s;
        }

        &.on-enter {
          animation: footer-section-on-enter 1s $timing-func both;

          &:before {
            width: 100%;
            background-color: $accent-main;
          }
        }

        &.on-leave {
          animation: footer-section-on-leave 1s $timing-func both;

          &:before {
            width: 0;
            background-color: $white;
            transition-delay: 0s;
          }
        }
      }

      .section-container {
        max-width: 1140px;
        padding-top: 0;
        padding-bottom: 0;
      }

      .section-title {
        transform: none;
        text-align: left;
        width: 100%;
        font-size: 40px;
        letter-spacing: 1.13px;
      }

      .btn-wrap {
        max-width: 100%;
      }

      .col-center-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

      .img-wrap {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;

        img {
          height: 40px;
        }
      }

      .form-wrap {
        max-width: 100%;
      }

      .input-groups {
        &.input-area {
          margin-top: 30px;
          margin-bottom: 0;
        }
      }

      .socials-wrap {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
        margin-top: 0;
        margin-bottom: 0;

        .social-link {
          margin-right: 65px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .contact-container {
        margin-bottom: 0;
        padding: 24px 0 0;
        flex-direction: column;

        .contact-wrap {
          padding: 0;
          width: 100%;
          max-width: 255px;

          &:first-child {
            margin-bottom: 30px;
          }
        }
      }
    }

    .section-container {
      padding-top: 60px;
      padding-bottom: 60px;
      max-width: 1140px;
    }

    .section-title {
      font-size: 66px;
      letter-spacing: 2px;
      transform: translateX(-45px);
    }

    .form-wrap {
      padding-left: 0;
      max-width: 100%;
      margin-bottom: 0;
    }

    .input-groups {
      &.input-area {
        margin-top: 0;
      }
    }

    .image-wrap {
      position: absolute;
      top: 50%;
      right: 0;
      left: auto;
      width: 800px;
      transform: translate(10%, -50%);
    }

    .contact-info-wrap {
      margin-top: 90px;
      margin-bottom: 80px;
    }

    .contact-wrap {
      width: 100%;
      max-width: 430px;
    }

    .socials-wrap {
      margin-bottom: 0;

      .social-link {
        margin-right: 115px;
      }
    }
  }
}
