@import "../Static/index";

.section-title, .section-desc {
  &.is-white {
    color: #fff;
  }
}

.section-title {
  position: relative;
  color: #000;
  font-family: $museo-700;
  font-size: 26px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-desc {
  position: relative;
  opacity: 0.9;
  color: #000;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
  font-family: $museo-300;

  &.with-dot {
    padding-left: 12px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: $accent-main;
    }
  }
}

.section-wrapper {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 5;

  &.no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

@include media-breakpoint-up('md') {
  .section-title {
    font-size: 34px;
  }
}

@include media-breakpoint-up('xl') {
  .section-wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-title {
    font-size: 50px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }

  .section-desc {
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 28px;
  }
}
