@import "../Static/index";

#about-page {
  .section-dots-wrap {
    opacity: 0.2;
  }

  .scroll-box {
    bottom: 15px;
  }

  .see-more-box {
    &.on-first-load {
      span {
        animation-duration: 2s;
        animation-delay: 0.2s;
      }

      .link {
        animation-duration: 2s;
        animation-delay: 0.2s;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  #about-page {
    .scroll-box {
      bottom: 60px;
    }
  }
}
