@import "../Static/index";

@keyframes main-dots-first-load {
  from {
    opacity: 0;
    //transform: translate(-50px, 0);
  }
  to {
    opacity: 0.5;
    //transform: translate(0, 0);
  }
}

#main-page {
  .section-dots-wrap {
    position: absolute;
    // transition: all 1s $timing-func;
  }

  .scroll-box {
    &.on-first-load {
      animation: common-fade-up 0.4s $timing-func 1.3s both;
    }
  }
}

@include media-breakpoint-up("md") {
  #main-page {
    .socials-wrap {
      position: absolute;
      bottom: 70px;
      z-index: 999;

      .social-link {
        opacity: 0.3;
        width: 28px;
        margin-right: 95px;

        &.on-first-load {
          animation: social-on-first-load 0.4s $timing-func 1.3s both;

          // &:nth-child(2) {
          //   animation-delay: 0.4s;
          // }

          // &:nth-child(3) {
          //   animation-delay: 0.5s;
          // }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    #footer-section {
      .socials-wrap {
        position: relative;
        bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up("lg") {
  #main-page {
    .socials-wrap {
      left: 50px;
      bottom: 55px;
      transform: none;

      .social-link {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    #footer-section {
      .socials-wrap {
        left: 0;
      }
    }
  }
}

@include media-breakpoint-up("xl") {
  #main-page {
    // .col-info {
    //   &.on-leave {
    //     animation: section-content-on-leave 1s $timing-func both;
    //   }
    // }

    .socials-wrap {
      position: fixed;
      left: 60px;
      bottom: 40px;
    }

    .section-dots-wrap {
      position: absolute;
      width: 272px;
      height: 272px;
      z-index: 0;

      &.on-first-load {
        //animation: main-dots-first-load 3s $timing-func 0s both;
      }

      &.on-enter {
        //animation: dots-on-enter 1s $timing-func 0s both;
      }

      &.on-leave {
        //animation: dots-on-leave 1s $timing-func 0s both;
      }
    }

    #footer-section {
      .socials-wrap {
        left: 50%;
        bottom: auto;
        position: absolute;
      }
    }
  }
}
