@import "../Static/index";

@keyframes main-dots-first-load {
  from {
    opacity: 0;
    transform: translate(-50px, 0);
  }
  to {
    opacity: 0.5;
    transform: translate(0, 0);
  }
}

#main-page {
  .section-dots-wrap {
    position: absolute;
    opacity: 0.5;
    transition: all 1s $timing-func;
  }

  #footer-section {
    .container-wrap {
      height: calc(100vh - 44px);
    }
  }
}

@include media-breakpoint-up('md') {
  #main-page {
    .socials-wrap {
      position: absolute;
      bottom: 70px;
      z-index: 999;

      .social-link {
        width: 28px;
        margin-right: 95px;

        &.on-first-load {
          animation: social-on-first-load 3s $timing-func 0.3s backwards;

          &:nth-child(2) {
            animation-delay: 0.4s;
          }

          &:nth-child(3) {
            animation-delay: 0.5s;
          }
        }
      }
    }

    #footer-section {
      display: flex;
      align-items: center;
      justify-content: center;

      .fp-scroller {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .socials-wrap {
        position: relative;
        bottom: 0;
      }

      .container-wrap {
        height: auto;
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  #main-page {
    .socials-wrap {
      left: 50px;
      bottom: 55px;
      transform: none;

      .social-link {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    #footer-section {
      .socials-wrap {
        left: 0;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  #main-page {
    .section-dots-wrap {
      position: fixed;
      width: 515px;
      height: 515px;
      top: 180px;
      left: 200px;
      z-index: 0;

      &.on-first-load {
        animation: main-dots-first-load 3s $timing-func 0s both;
      }

      &.on-enter {
        animation: dots-on-enter 1s $timing-func 0s both;
      }

      &.on-leave {
        animation: dots-on-leave 1s $timing-func 0s both;
      }
    }

    #footer-section {
      display: block;

      .socials-wrap {
        left: 50%;
      }
    }
  }
}
