@import "../../Static/index";

#about-team-section {
  background-color: #fff;
  
  .iScrollVerticalScrollbar {
    border-right: 1px solid $accent-black;
    overflow: visible !important;
  }
  
  .iScrollIndicator {
    border-radius: 0 !important;
    background-color: $accent-main !important;
    right: 5px;
  }
  
  .section-wrapper {
    padding-top: 85px;
    padding-bottom: 0;
  }
  
  .section-title {
    font-size: 30px;
    letter-spacing: 0.85px;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .section-desc {
    font-size: 14px;
    letter-spacing: 0.39px;
    line-height: 29px;
    margin-bottom: 60px;
  }
  
  .team-wrapper {
    position: relative;
  }
  
  .team-card {
    width: 100%;
    max-width: 210px;
    margin: 0 auto 50px;
  }
  
  .member-image {
    width: 100%;
    margin-bottom: 15px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  
  .member-name {
    text-align: center;
    font-family: $museo-300;
    font-size: 14px;
    letter-spacing: 1.05px;
    color: $accent-black;
    
    span {
      font-family: $museo-100;
      color: $accent-black;
    }
  }
}

@include media-breakpoint-up('md') {
  #about-team-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section-wrapper {
      padding-top: 0;
    }

    .row-info {
      margin-bottom: 40px;
    }

    .section-title {
      position: absolute;
      top: -20px;
      left: 45px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 30px 0 15px;
      background-color: #fff;
      font-size: 40px;
      letter-spacing: 1.13px;
    }

    .section-desc {
      position: relative;
      max-width: 100%;
      margin-bottom: 0;
      z-index: 1;
    }

    .info-wrap {
      position: relative;
      width: 100%;
      max-width: 390px;
      margin: 0 auto;
      padding: 30px;
      border: 1px solid #979797;
      background-color: #fff;

      &:before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: -1px;
        width: 50px;
        background-color: #fff;
        opacity: 0.9;
        height: 90%;
        z-index: 0;
      }
    }

    .section-slider-wrap {
      padding-left: 85px;
    }

    .slick-slide {
      & > div {
        padding: 0 10px;
      }
    }
    
    .slick-list {
      overflow-x: auto;
      padding-bottom: 20px;
      
      &::-webkit-scrollbar {
        height: 10px;
      }
      
      &::-webkit-scrollbar-track {
        border-top: 1px solid $accent-black;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $accent-main;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  #about-team-section {
    justify-content: flex-start;

    .section-wrapper {
      padding-top: 120px;
    }

    .section-slider-wrap {
      position: relative;
      z-index: 5;
    }

    .section-dots-wrap {
      position: absolute;
      top: -35px;
      left: 0;
      width: 340px;
      height: 340px;
      opacity: 1 !important;
      z-index: -1;
    }
    
    .member-name {
      font-size: 12px;
      letter-spacing: 0.6px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #about-team-section {
    .section-title {
      font-size: 70px;
      letter-spacing: 1.97px;
      padding-right: 15px;
      top: -35px;
    }
    
    .section-desc {
      font-size: 16px;
      letter-spacing: 0.45px;
    }
    
    .info-wrap {
      max-width: 515px;
      padding: 45px;
      margin-top: 65px;
      
      &:before {
        width: 95px;
      }
    }
    
    .row-info {
      margin-bottom: 70px;
    }
    
    .section-dots-wrap {
      width: 555px;
      height: 555px;
    }

    .section-slider-wrap {
      padding-left: 165px;
      padding-bottom: 80px;
    }
    
    .member-slide {
      outline: none;
      cursor: pointer;
    }
  }
}
