@import "../../Static/index";

[id*='-service-page'] {
  .project-section {
    position: relative;
    overflow: hidden;

    &:first-child {
      min-height: 100vh;
      background-color: $accent-black;
    }
  }

  .section-title {
    font-size: 30px;
    letter-spacing: 0.85px;
  }

  .section-dots-wrap {
    position: absolute;
    width: 350px;
    height: 350px;
    opacity: 0.3;
    z-index: 0;
  }

  .section-image-wrap {
    position: relative;
    width: 100%;
    z-index: 2;
  }
}

@include media-breakpoint-up('xl') {
  [id*='-service-page'] {
    .scroll-box {
      position: absolute;
    }

    .section-title {
      font-size: 50px;
      letter-spacing: 1.41px;
    }

    .section-dots-wrap {
      width: 555px;
      height: 555px;
    }

    #footer-section {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      z-index: 100;
      min-height: auto;
      visibility: visible;
      position: relative !important;

      .container-wrap {
        min-height: 100%;
        position: relative;
        height: 100% !important;
      }
    }
  }
}
