@import "../../Static/index";

#service-short-portfolio-section {
  background-color: $accent-black;

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .col-short-portfolio {
    position: relative;

    &:hover {
      .short-portfolio-image {
        img {
          filter: grayscale(0);
        }
      }
    }
  }

  .short-portfolio-image {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(29, 36, 43, 0.3);
      transition: all .7s $timing-func;
    }

    img {
      filter: grayscale(1);
      transition: all .7s $timing-func;
    }
  }

  .short-portfolio-name {
    position: absolute;
    top: 40px;
    left: 40px;
    opacity: 0.9;
    color: #ffffff;
    font-family: $museo-700;
    font-size: 14px;
    letter-spacing: 1.05px;
    line-height: 21px;
    z-index: 2;
  }

  .short-portfolio-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }

  .custom-btn {
    margin-top: 45px;
    max-width: 170px;
  }

  .section-dots-wrap {
    top: 0;
    right: -60px;
    width: 240px;
    height: 100px;

    img {
      object-fit: cover;
    }
  }
}

@include media-breakpoint-up('md') {
  #service-short-portfolio-section {
    .col-short-portfolio {
      margin-bottom: 30px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #service-short-portfolio-section {
    .row {
      margin: 0;
    }

    .col-short-portfolio {
      padding: 0;
      margin-bottom: 0;
      z-index: 3;
    }

    .short-portfolio-name {
      font-size: 18px;
    }

    .section-dots-wrap {
      top: auto;
      bottom: 0;
      right: 0;
      width: 360px;
      height: 360px;
      z-index: 2;

      img {
        object-fit: cover;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  #service-short-portfolio-section {
    .section-wrapper {
      padding-top: 0;
      padding-bottom: 70px;
    }

    .section-title {
      margin-bottom: 40px;
    }

    .section-dots-wrap {
      right: -90px;
    }
  }
}
