@import "../../Static/index";

#service-work-stages-section {
  background-color: $accent-black;
  padding-bottom: 20px;

  .section-title {
    margin-bottom: 60px;
  }

  .section-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .stage-wrap {
    width: 100%;
    max-width: 220px;
    margin: 0 auto 40px auto;
  }

  .stage-image {
    width: 44px;
    height: 48px;
    margin: 0 auto 12px auto;
  }

  .stage-name {
    color: #ffffff;
    font-family: $museo-500;
    font-size: 12px;
    letter-spacing: 0.45px;
    text-align: center;
  }
}

@include media-breakpoint-up('md') {
  #service-work-stages-section {
    .stage-wrap {
      max-width: 100%;
      display: flex;
      align-items: center;
    }

    .stage-image {
      margin: 0;
    }

    .stage-name {
      margin-left: 30px;
      text-align: left;
    }
  }
}

@include media-breakpoint-up('lg') {
  #service-work-stages-section {
    .section-dots-wrap {
      top: 50%;
      left: -275px;
      transform: translateY(-50%);
    }

    .stage-name {
      font-size: 18px;
      letter-spacing: 0.51px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #service-work-stages-section {
    .section-wrapper {
      padding-bottom: 125px;
    }

    .section-dots-wrap {
      width: 360px;
      height: 360px;
    }

    .section-title {
      margin-bottom: 70px;
    }
  }
}
